@charset "utf-8";

@font-face {
	font-family: 'PFL';
	src: url('../fonts/pdfintextcondpro-light-webfont.eot');
    src: url('../fonts/pdfintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pdfintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pdfintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFR';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFM';
	src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'Verdana',arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #333333;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333333;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-0{

}
	.b-0 .b-block{
		text-align: left;
	}
		.b-0 .b-logo-left{
			display: block;
			padding: 18px 0px;
		}
			.b-0 .b-logo-left img{

			}
.b-1{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-1.jpg');
}
	.b-1 .b-block{

	}
		.b-1 h1{
			font-size: 12px;
			color: #565454;
			text-align: left;
			padding-top: 25px;
		}
		.b-1 .b-main-menu{
			margin-top: 230px;
		}
			.b-1 .b-main-menu>li{
				float: left;
				margin-left: 110px;
				position: relative;
			}
				.b-1 .b-main-menu span{
					color: #FFF;
					font-size: 30px;
					text-transform: uppercase;
					padding-bottom: 2px;
					display: block;
					border-bottom: 3px solid #FFF;
					cursor: pointer;
				}
				.b-1 .b-main-menu li:hover span{
					color: #F00;
				}
				.b-1 .b-main-menu .b-main-submenu{
					display: none;
					padding: 20px;
					position: absolute;
					left: -20px;
					top: 40px;
					color: #FFF;
					text-align: left;
					width: 130px;
				}
				.b-1 .b-main-menu li:hover .b-main-submenu{
					display: block;
				}
					.b-1 .b-main-menu .b-main-submenu li{
						cursor: pointer;
						display: inline-block;
						margin-bottom: 5px;
					}
						.b-1 .b-main-menu .b-main-submenu li:hover{
							text-decoration: underline;
						}
		.b-1-bottom{
			margin-top: 80px;
			padding-bottom: 20px;
		}
			.b-1-bottom>.left{
				margin-top: 65px;
			}
				.b-1-bottom>.left .left{
					font-size: 188px;
					color: #FFF;
					font-family: "arial";
					font-weight: bold;
				}
				.b-1-bottom>.left .right{
					margin-left: 15px;
					font-size: 30px;
					font-family: "arial";
					color: #FFF;
				}
					.b-1-bottom>.left .right span{
						font-size: 140px;
						display: block;
						line-height: 105px;
						margin-top: 42px;
					}
		.b-1-bottom>.right{
			/*margin-top: 88px;*/
		}
			.b-1-bottom>.right .b-red-button{
				float: left;
				border-radius: 3px;
				margin-left: 5px;
				cursor: pointer;
				height: 86px;
				overflow: hidden;
			}
			.b-1-bottom>.right .b-red-button {
				padding-top: 156px;
			}
			.b-1-bottom>.right .b-red-button:hover .b-but-2{
				/*background-color: #D00;*/
			}
				.b-1-bottom>.right .b-red-button .b-but{
					position: relative;
					-moz-transition: all .3s;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
					border-radius: 3px;
				}
				.b-1-bottom>.right .b-red-button .b-but-1{
					padding: 26px;
					width: 190px;
					background-color: #f00;
					
				}
				.b-1-bottom>.right .b-red-button .b-but-1:hover {
					-webkit-transform: translateY(-137px);
					-moz-transform: translateY(-137px);
					-ms-transform: translateY(-137px);
					-o-transform: translateY(-137px);
					transform: translateY(-137px);
				}
				.b-1-bottom>.right .b-red-button .b-but-2:hover {
					-webkit-transform: translateY(-136px);
					-moz-transform: translateY(-136px);
					-ms-transform: translateY(-136px);
					-o-transform: translateY(-136px);
					transform: translateY(-136px);
				}
				.b-1-bottom>.right .b-red-button .b-but-2:hover p {
					display: none;
				}
					.b-1-bottom>.right .b-red-button .b-but-1 label {
						display: block;
						text-align: left;
						color: #fff;
						margin-bottom: 2px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input {
						width: 100%;
						border-radius: 2px;
						border: 1px solid #fff;
						padding: 7px;
						box-sizing: border-box;
						margin-bottom: 12px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input.error {
						background-color: rgb(255,155,255);
						border: 1px solid #fff !important;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a {
						width: 100%;					
						padding: 12px 0 13px;						
						border: 2px solid #fff;						
						box-sizing: border-box;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:hover {
						background-color: #fff;
						color: #333333;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:active {
						background-color: #4a4a4a;
						border: 2px solid #4a4a4a;
						color: #fff;
					}
				.b-1-bottom>.right .b-red-button .b-but-2{
					padding: 26px;
					background-color: #f00;
				}
					.b-1-bottom>.right .b-red-button .b-but i{
						position: absolute;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						display: block;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 i{
						left: -45px;
						top: -2px;
						background-image: url('../i/hand-mobile.png');
						width: 35px;
						height: 36px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 i{
						left: 37px;
						top: 25px;
						background-image: url('../i/two-hands.png');
						width: 53px;
						height: 39px;
					}
					.b-1-bottom>.right .b-red-button .b-but p{
						text-align: left;
						font-size: 14px;
						color: #FFF;
						position: relative;
						margin-bottom: 26px;
						
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p {
						padding-left: 45px;
						margin-left: 22px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p {
						padding-left: 98px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						left: 0px;
						top: -2px;
						background-image: url('../i/hand-mobile.png');
						width: 35px;
						height: 36px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						left: 33px;
						top: -2px;
						background-image: url('../i/two-hands.png');
						width: 53px;
						height: 39px;
					}
				#datepicker-inline {
					height: 170px;
				}
				div.ui-datepicker{
					font-size:12px;
				}
.b-2{
	padding-bottom: 85px;
}
	.b-2 .b-block{

	}
		h2.b-title{
			font-size: 40px;
			text-transform: uppercase;
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.b-2 h2.b-title{
			color: #333333;
		}
		.b-2 p{
			text-align: left;
			font-size: 14px;
		}
.b-3{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-3.jpg');
	padding-bottom: 100px;
}
	.b-3 .b-block{

	}
		.b-3 h2.b-title{
			padding-top: 90px;
			color: #FFF;
		}
		.b-3 .b-about-list{
			padding-top: 120px;
			width: 890px;
			margin-left: 35px;
		}
			.b-3 .b-about-list .slick-arrow {
				position: absolute;
				width: 38px;
				height: 74px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				top: 93px;
				cursor: pointer;
			}
			.b-3 .b-about-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-3 .b-about-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: -35px;
			}
			.b-3 .b-about-list .slick-arrow.slick-next {
				background-position: -38px 50%;
				right: -35px;
			}

			.b-3 .b-about-list .slide-about{
				text-align: left;
				padding-left: 10px;
				overflow: hidden;
			}	

				.b-3 .b-about-list .slide-about >span {
					font-size: 12px;
					color: red;
					display: inline-block;
					margin-bottom: 85px;
					position: relative;
				}
				.b-3 .b-about-list .slide-about >span:after {
					position: absolute;
					content: "";
					font-size: 0;
					width: 150px;
					height: 9px;
					background-position: 50%;
					background-image: url('../i/strip.png');
					background-repeat: repeat-x;
					top: 3px;
					right: -158px;
				}

				.b-3 .b-about-list .slide-about img{
					margin-bottom: 11px;
				}
				.b-3 .b-about-list .slide-about p{
					color: #FFF;
					font-size: 14px;
					text-transform: uppercase;
					min-height: 80px;
				}
				.b-3 .b-about-list .slide-about b{
					color: #000000;
					font-size: 48px;
					font-weight: bold;
				}
					.b-3 .b-about-list .slide-about b span{
						font-size: 12px;
						display: inline-block;
						text-align: left;
						vertical-align: top;
						margin-top: 7px;
						margin-left: 8px;
					}
.b-4{
	background-color: #e0e0e0;
}
	.b-4 .b-block-1{

	}
		.b-4 .b-block-1 h2.b-title{
			padding-bottom: 30px;
		}
		.b-4 .b-block-1 .b-tabs{
			display: inline-block;
			margin-left: 4px;
			margin-bottom: 20px;
			background: none;
			border:none;
		}
		.b-4 .b-block-1 #tabs {
			background: none;
			border: none;
			font-size: 0;
		}
			.b-4 .b-block-1 .b-tabs li{
				background: none;
				border: none;
				cursor: pointer;
				border-radius: 3px;
				background-color: #f00;			
				font-size: 10px;
				text-transform: uppercase;
				margin-right: 4px;
				float: left;
			}
				.b-4 .b-block-1 .b-tabs li a {
					color: #fff;
					padding: 5px 22px;
    				display: block;
				}
			.b-4 .b-block-1 .b-tabs li.ui-tabs-active,.b-4 .b-block-1 .b-tabs li.ui-state-hover{
				cursor: default;
				background-color: #333;
			}
		.b-4 .b-block-1 .b-tab{
			background: none;
			border:none;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			position: relative;	
			display: inline-block;		
		}

		.b-4 .b-block-1 #video-tab.b-tab {
			background-image: url('../i/mac.png');
			width: 532px;
			height: 421px;
			margin-bottom: 20px;
		}
			.b-4 .b-block-1 #video-tab.b-tab .iframe {
				width: 500px;
				position: absolute;
				top: 15px;
				left: 17px;
				height: 277px;
			}
			.b-4 .b-block-1 #video-tab.b-tab p{
				font-size: 24px;
				text-align: left;
				margin: 40px 50px;
				color: #FFF;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt{
				display: block;
				position: absolute;
				background-position: 0% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/play.png');
				width: 73px;
				height: 73px;
				left: 50%;
				margin-left: -37px;
				top: 120px;
				z-index: 100;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt:hover{
				background-position: -73px 50%;
			}
		.b-4 .b-block-1 #audio-tab.b-tab {
			background-image: url('../i/headphones.png');
			width: 300px;
			height: 441px;
		}
		.b-4 .b-block-1 #audio-tab.b-tab audio {
/*			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/player.png');*/
			position: absolute;
			width: 532px;
			/*height: 40px;*/
			top: 160px;
			left: 50%;
			margin-left: -266px;
		}
		.b-4 .b-block-1 #text-tab.b-tab {
			width: 100%;
			text-align: left;
			padding: 0 30px;
			margin-top: 80px;

		}
			.b-4 .b-block-1 #text-tab.b-tab .tab-text {
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				height: 362px;	
				cursor: pointer;		
			}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text > div {
					padding: 40px 30px;
					box-sizing: border-box;	
					height: inherit;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active > div  {
					background-color: rgba(0,0,0,0.4); 
				}
			.b-4 .b-block-1 #text-tab.b-tab #text-1 {
				background-image: url('../i/text-1.jpg');
			}
			.b-4 .b-block-1 #text-tab.b-tab #text-2 {
				background-image: url('../i/text-2.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-3 {
				background-image: url('../i/text-3.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-4 {
				background-image: url('../i/text-4.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-5 {
				background-image: url('../i/text-1.jpg');
			} 
				.b-4 .b-block-1 #text-tab.b-tab .tab-text h3 {
					font-size: 18px;
					line-height: 1.2;
					margin-bottom: 25px;
					display: none;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text p {
					font-size: 12px;
					display: none;
					font-style: italic;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active p {
					display: block;
				}
		.b-4 .b-block-1 .full-text {
			margin-top: 80px;
			display: none;
		}
		.b-4 .b-block-1 .full-text .text-back{
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.b-4 .b-block-1 .full-text .text-left {
			text-align: left;
		}
		.b-4 .b-block-1 .full-text .text-right {
			text-align: right;
		}
			.b-4 .b-block-1 .full-text .text-back > div {
				background-color: rgba(0,0,0,0.4);
			}
				.b-4 .b-block-1 .full-text .text-block {
					padding: 55px 45px 75px;
					background-color: #fff;
				}
				.b-4 .b-block-1 .full-text .text-block h3{
					font-size: 18px;
					color: #333333;
					line-height: 1.2;
					margin-bottom: 25px;
					font-weight: bold;
				}
				.b-4 .b-block-1 .full-text .text-block  h3.big {
					font-size: 24px;
				}
				.b-4 .b-block-1 .full-text .text-block  p{
					font-size: 14px;
					font-style: italic;
					color: #333333;
					line-height: 1.714;
				}
				.b-4 .b-block-1 .full-text .text-back > div h3,.b-4 .b-block-1 .full-text .text-back > div p {
					color: #fff;
				}
			.b-4 .b-block-1 .full-text .text-back > div:hover {
				background-color: rgba(255,255,255,0.6);
			}
				.b-4 .b-block-1 .full-text .text-back > div:hover h3,.b-4 .b-block-1 .full-text .text-back > div:hover p {
					color: #333333;
				}
			.b-4 .b-block-1 .full-text .text-footer {
				padding: 40px 45px 20px;
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('../i/text-footer.jpg');
			}
				.b-4 .b-block-1 .full-text .text-footer h3{
					color: #fff;
				}
				.b-4 .b-block-1 .full-text .text-footer p {
					color: #cccccc;
				}
				.b-4 .b-block-1 .full-text .text-footer ul {
					margin-top: 70px;
				}
					.b-4 .b-block-1 .full-text .text-footer ul li {
						font-size: 14px;
						position: relative;
						color: #cccccc;
						
					}

					.b-4 .b-block-1 .full-text .text-footer ul li.phone {
						font-size: 18px;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:before {
							position: absolute;
							font-size: 0;
							content: "";
							background-position: 50%;
							background-repeat: no-repeat;
							left: 50%;
							top: -45px;
						}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1) {
						float: left;
						margin-right: 200px;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2) {
						float: left;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:last-child {
						margin-right: 0;
						float: right;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1):before {
							width: 28px;
							height: 30px;
							margin-left: -14px;
							background-image: url('../i/text-mobile.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2):before {
							width: 29px;
							height: 29px;
							margin-left: -15px;
							background-image: url('../i/text-mail.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:last-child:before {
							width: 22px;
							height: 33px;
							margin-left: -11px;
							background-image: url('../i/text-map.png');
						}

	.b-4 .b-block-2{
		background-color: #FFF;
	}
		.b-4 .b-block-2 .b-video-list{
			padding: 0px 30px;
		}

			.b-4 .b-block-2 .b-video-list .slide{
				cursor: pointer;
			}
				.b-4 .b-block-2 .b-video-list .slide > div {
					border-left: 1px solid #1d1e23;
					text-align: left;
					margin: 30px 0;

				}
				.b-4 .b-block-2 .b-video-list .slide span{
					font-size: 14px;
					position: relative;
					display: block;
					cursor: pointer;
					width: 135px;
					padding-left: 20px;
				}
				.b-4 .b-block-2 .b-video-list .slide span:hover,.b-4 .b-block-2 .b-video-list .slide.active span,.b-4 .b-block-2 .b-video-list .slide.hover span{
					color: #ff0000;
				}
				.b-4 .b-block-2 .b-video-list .slide.active span {
					cursor:	default;
				}
					.b-4 .b-block-2 .b-video-list .slide span:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 37px;
						height: 37px;
						right: -45px;
						top: 8px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-image: url('../i/play-red.png');
						opacity: 0.000001;
					}
					.b-4 .b-block-2 .b-video-list .slide:hover span:after,.b-4 .b-block-2 .b-video-list .slide.active span:after,.b-4 .b-block-2 .b-video-list .slide.hover span:after{
						opacity: 1;
					}
			.b-4 .b-block-2 .b-video-list .slick-arrow {
				position: absolute;
				width: 18px;
				height: 34px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				background-size: 36px 34px;
				top: 38px;
				cursor: pointer;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: 0;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-next {
				background-position: -18px 50%;
				right: 0;
			}
.b-5{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-5.jpg');
	padding-bottom: 130px;
}
	.b-5 .b-block{

	}
		.b-5 h2.b-title{
			color: #FFF;
			padding-top: 80px;
		}
		.b-5 .b-service-list{
			display: inline-block;
			margin-top: 90px;
		}
			.b-5 .b-service-list li{
				float: left;
				margin-right: 138px;
    			width: 215px;
				color: #FFF;
			}
			.b-5 .b-service-list li:last-child{
				margin-right: 0px;
				width: 190px;
			}
				.b-5 .b-service-list li > div {
					opacity: 0.4;
					cursor: pointer;
				}

				.b-5 .b-service-list li .img{
					background-repeat: no-repeat;
					height: 112px;
					margin: 0 auto 15px;
				}
				
				.b-5 .b-service-list li:hover >div {
					opacity: 1;
				}
				.b-5 .b-service-list li:nth-child(1) .img {
					background-image: url('../i/b-5/1.png');
					background-position: -112px 50%;
					width: 112px;
				}
				.b-5 .b-service-list li:nth-child(2) .img {
					background-image: url('../i/b-5/2.png');
					background-position: -97px 50%;
					width: 97px;
				}
				.b-5 .b-service-list li:nth-child(3) .img {
					background-image: url('../i/b-5/3.png');
					background-position: -113px 50%;
					width: 113px;
				}
				.b-5 .b-service-list li:hover .img{
					background-position: 0% 50%;
				}

				.b-5 .b-service-list li h3{
					font-size: 24px;
					font-weight: bold;
					color: #fff;
					margin-bottom: 40px;
				}
				.b-5 .b-service-list li:hover h3 {
					color: #F00;
				}
				.b-5 .b-service-list li p{
					text-align: left;
					font-style: italic;
					color: #cccccc;
					font-size: 12px;
					/*margin-left: 5px;*/
				}
.b-6{
	padding-bottom: 85px;
}
	.b-6 .b-block{

	}
		.b-6 h2.b-title{
			color: #666666;
			padding-bottom: 100px;
		}
		.b-6 .b-partners{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/partners.jpg');
			width: 886px;
			height: 244px;
			display: inline-block;
		}
.b-7{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-7.jpg');
	padding-bottom: 35px;
}
	.b-7 .b-block{

	}
		.b-7 p{
			font-size: 14px;
			color: #FFF;
			width: 850px;
			display: inline-block;
			text-align: left;
			padding-top: 40px;
			padding-bottom: 25px;
		}
		a.b-red-butt{
			background-color: #F00;
			border-radius: 3px;
			padding: 25px 50px;
			font-size: 18px;
			color: #FFF;
			display: inline-block;
		}
		a.b-red-butt:hover{
			background-color: #D00;
		}
		.b-7 a.b-red-butt{

		}
.b-8{
	
}
	.b-8 .b-white-block{
		background-color: #FFF;
	}
		.b-8 .b-white-block h2.b-title{
			padding-bottom: 20px;
			color: #666666;
			padding-top: 55px;
		}
		.b-8 .b-white-block h3{
			font-size: 16px;
			color: #666666;
			padding-bottom: 40px;
		}
	.b-8 .b-white-block .nav {
		margin-top: 20px;
		margin-bottom: 20px;
		display: none;
	}
		.b-8 .b-white-block .nav li {
			position: relative;
			font-size: 12px;
			color: #cccccc;
			float: left;
			margin-right: 25px;
		}
		.b-8 .b-white-block .nav li:nth-child(n+2):before {
			position: absolute;
			content: "";
			font-size: 0;
			width: 4px;
			height: 6px;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/nav.png');
			top: 5px;
    		left: -14px;
		}
		.b-8 .b-white-block .nav li:last-child {
			margin-right: 0;
		}
		.b-8 .b-white-block .nav li.active {
			color: #000;
		}
		.b-8 .b-white-block .nav li.active:nth-child(n+2):before {
			background-position: -4px 50%;
		}
	.b-8 .b-back{
		background-position: 50% 50%;
		background-size: cover;
		
		padding-bottom: 80px;
		display: none;
	}
	.b-8 #invest-1.b-back {
		background-image: url('../i/b-8/1-back.jpg');
		display: block;
	}
	.b-8 #invest-2.b-back {
		background-image: url('../i/b-8/2-back.jpg');
	}
	.b-8 #invest-3.b-back {
		background-image: url('../i/b-8/3-back.jpg');
	}
	.b-8 #invest-4.b-back {
		background-image: url('../i/b-8/4-back.jpg');
	}
	.b-8 #invest-5.b-back {
		background-image: url('../i/b-8/5-back.jpg');
	}
	.b-8 #invest-6.b-back {
		background-image: url('../i/b-8/6-back.jpg');
	}

		.b-8 .b-back .b-icon{
			padding-top: 65px;
			margin-bottom: 40px;
		}
			.b-8 .b-back .b-icon p{
				font-size: 12px;
				color: #F00;
				text-transform: uppercase;
				margin-top: 3px;
			}
			.b-8 .b-back .b-icon .sprite {
    			background-image: url('../i/spritesheet.png');
			    background-repeat: no-repeat;
			    display: inline-block;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-1 {
			    width: 89px;
			    height: 89px;
			    background-position: 0 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-2 {
			    width: 90px;
			    height: 91px;
			    background-position: -89px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-3 {
			    width: 90px;
			    height: 91px;
			    background-position: -179px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-4 {
			    width: 90px;
			    height: 91px;
			    background-position: -269px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-5 {
			    width: 89px;
			    height: 89px;
			    background-position: -359px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-6 {
			    width: 89px;
			    height: 89px;
			    background-position: -448px 0;
			}

		.b-8 .b-back h3{
			font-size: 30px;
			color: #000000;
			margin-bottom: 60px;
		}
		.b-8 .b-back .b-checkboxes{
			display: inline-block;
			margin-bottom: 75px;
		}
			.b-8 .b-back .b-checkboxes li{
				float: left;
				margin-right: 100px;
				cursor: pointer;
			}
			.b-8 .b-back .b-checkboxes li:last-child{
				margin-right: 0px;
				
			}
				.b-8 .b-back .b-checkboxes li input{
					display: none;
				}
				.b-8 .b-back .b-checkboxes li label{
					cursor: pointer;
					font-weight: bold;
					font-size: 16px;
					color: #333333;
					padding-left: 29px;
					position: relative;
					display: block;
					text-align: left;
				}
				.b-8 .b-back .b-checkboxes li label span {
					font-size: 12px;
					color: #333333;
					max-width: 220px;
					display: block;
					margin-top: 5px;
    				font-weight: 500;
				}
				.b-8 .b-back .b-checkboxes li label:before {
					position: absolute;
					content: "";
					font-size: 0;
					width: 17px;
					height: 17px;
					border: 1px solid rgb(204, 204, 204);
					border-radius: 3px;
					background-color: #fff;
					top: 0px;
					left: 0px;
				}
				.b-8 .b-back .b-checkboxes li label:after {
					position: absolute;
					content: "";
					font-size: 0;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/check.png');
					width: 12px;
					height: 12px;
					top: 3px;
					left: 4px;
					display: none;
				}
				.b-8 .b-back .b-checkboxes li input:checked + label:after {
					display: block;
				}
		.b-8 .b-back a.b-red-butt{
			width: 240px;
			box-sizing: border-box;
		}
.b-9{
	background-position: 50% 50%;
	background-image: url('../i/gray-back.jpg');
	padding: 60px 0px;
}
	.b-9 .b-block{

	}
		.b-9 h3{
			text-align: left;
			font-size: 30px;
			color: #FFF;
			width: 272px;
		}
		.b-9 .right{
			color: #FFF;
			text-align: left;
		}
			.b-9 .right .b-phone-contact{
				font-size: 18px;
				margin-bottom: 15px;
				position: relative;
			}
				.b-9 .right .b-phone-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 28px;
					height: 30px;
					left: -55px;
					top: -4px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/b-9/1.png');
				}
			.b-9 .right .b-email-contact{
				font-size: 14px;
				margin-bottom: 10px;
				position: relative;
			}
				.b-9 .right .b-email-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 29px;
					height: 29px;
					left: -54px;
					top: 4px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/b-9/2.png');
				}
			.b-9 .right .b-place-contact{
				font-size: 14px;
				position: relative;
			}
				.b-9 .right .b-place-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 22px;
					height: 33px;
					left: -49px;
					top: 1px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/b-9/3.png');
				}
.b-10{

}
	.b-10 .b-map{
		height: 245px;
		width: 100%;
	}
.b-11{
	padding-top: 50px;
}
	.b-11 .b-block{

	}
		.b-11 .b-footer-menu-cont{

		}
			.b-11 .b-footer-menu-cont .b-footer-menu{
				margin-left: 50px;
			}
				.b-11 .b-footer-menu-cont .b-footer-menu li{
					float: left;
					margin-right: 20px;
				}
					.b-11 .b-footer-menu-cont .b-footer-menu li a{
						color: #333333;
						text-decoration: underline;
					}
						.b-11 .b-footer-menu-cont .b-footer-menu li a:hover{
							text-decoration: none;
						}
			.b-11 .b-footer-menu-cont .right{
				margin-right: 50px;
			}
				.b-11 .b-footer-menu-cont .right a{

				}
					.b-11 .b-footer-menu-cont .right a:hover{
						opacity: 0.8;
					}
					.b-11 .b-footer-menu-cont .right a img{

					}
		.b-11 .b-footer-cont{
			margin-top: 50px;
			padding-bottom: 25px;
		}
			.b-11 .b-footer-cont .b-book-cont{
				margin-left: 50px;
				padding-left: 40px;
				font-size: 12px;
				text-decoration: underline;
				text-align: left;
				position: relative;
				width: 60px;
			}
				.b-11 .b-footer-cont .b-book-cont:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 27px;
					height: 27px;
					left: 0px;
					top: 2px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/book.png');
				}
			.b-11 .b-footer-cont .b-copy-cont{
				font-size: 12px;
				margin-left: 100px;
				text-align: left;
			}
			.b-11 .b-footer-cont .b-dev-cont{
				font-size: 12px;
				margin-top: 15px;
				margin-right: 48px;
			}
				.b-11 .b-footer-cont .b-dev-cont a{
					font-size: 12px;
					text-decoration: underline;
				}
					.b-11 .b-footer-cont .b-dev-cont a:hover{
						text-decoration: none;
					}
.b-popup{

}
	.b-popup .b-head{
		color: #FFF;
		text-align: left;
		border-radius: 3px 3px 0px 0px ;
		padding: 28px 50px;
		background-color: #555555;
	}
	.b-popup .b-popup-back{
		background-position: 50% 50%;
		background-size: cover;
		background-image: url('../i/back-popup.jpg');
		padding: 65px 50px 28px;
	}
		.b-popup .b-data-cont{
			margin-bottom: 30px;	
		}
			.b-popup .b-data-cont h3{
				font-size: 24px;
				color: #F00;
			}
			.b-popup .b-data-cont input{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 12px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 5px 10px;
				margin-right: 2px;
			}
		.b-popup .b-popup-form{
			width: 402px;
		}
			.b-popup .b-popup-form input[type="text"]{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 12px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 5px 10px;
				width: 176px;
				margin-bottom: 15px;
			}
			.b-popup .b-popup-form input[type="text"].b-input-name{
				width: 378px;
			}
			.b-popup .b-popup-form a.b-red-butt{
				margin-top: 30px;
				cursor: pointer;
				margin-bottom: 35px;
			}
.fancybox-close{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/close.png');
	width: 20px;
	height: 20px;
	right: 30px;
	top: 26px;
}
@media (min-width: 1100px) {
	.b-3 .b-about-list {
		width: 930px;
		margin-left: 30px;
	}
	.b-3 .b-about-list .slick-arrow.slick-next {
		right: -65px;
	}
	.b-3 .b-about-list .slick-arrow.slick-prev {
		left: -65px;
	}
}

@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}