@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	width: 1000px;
	text-align: center;
	font-family: 'Verdana',arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #333333;
	font-size: 14px;
	-webkit-transform-origin: 0% 0%;
	   -moz-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		 -o-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
			
}
a{
	text-decoration: none;
	color: #333333;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.up-arrow {
	position: fixed;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: 50%;
	right: 60px;
	top: 0;
	z-index: 1000;
	display: none;
	-webkit-transition: all 0.3s ease-out 0.3s;
	 -moz-transition: all 0.3s ease-out 0.3s;
	 -o-transition: all 0.3s ease-out 0.3s;
	 transition: all 0.3s ease-out 0.3s;
	background-image: url("../i/up.png");
	cursor: pointer;
}
.b-0{

}
	.b-0 .b-block{
		text-align: left;
		padding: 16px 0px 15px;
	}
		.b-0 .b-logo-left{
			display: block;
			font-size: 0;
			margin-left: 28px;
			margin-top: 3px;
		}
			.b-0 .b-logo-left img{
				width: 120px;
			}
	.b-0 .b-block ul {

// margin-right: 53px;
}
		.b-0 .b-block ul li {
			float: left;
			margin-left: 30px;
			font-size: 10px;
			position: relative;
		}
			.b-0 .b-block ul li.date:before {
				position: absolute;
				content: "";
				font-size: 0;
				width: 11px;
				height: 13px;
				background-position: 50%;
				background-repeat: no-repeat;
				background-image: url("../i/calendar.png");
				background-size: contain;
				top: -1px;
				left: -20px;

			}

			.b-0 .b-block ul li .value {
				margin-left: 8px;
			}
			.b-0 .b-block ul li .update {
				padding-left: 15px;
				position: relative;
				margin-top: 5px;
			}
			.b-0 .b-block ul li .update:before {
				position: absolute;
				font-size: 0;
				content: "";
				width: 10px;
				height: 10px;
				background-image: url("../i/update.png");
				background-position: 0% 50%;
				background-size: 20px 10px;
				background-repeat: no-repeat;
				left: 0;
				top: 2px;
			}
			.b-0 .b-block ul li .update.down:before {
				background-position: -10px 50%;
			}
		.b-0 .b-block ul li:nth-child(2) {
		}
.b-1{
	background-position: 50% 50%;
	background-size: cover;
}
	.b-1 .b-block{

	}
		.b-1 h1{
			font-size: 12px;
			color: #565454;
			text-align: left;
			padding-top: 20px;
			padding-left: 29px;
		}
		.b-1 .b-main-menu{
			margin-top: 110px;
		}
			.b-1 .b-main-menu>li{
				float: left;
				margin-left: 27px;
				position: relative;
			}
			.b-1 .b-main-menu >li:nth-child(2) {

margin-left: 130px;
}
			.b-1 .b-main-menu >li:nth-child(3) {
				
margin-left: 130px;
			}
			.b-1 .b-main-menu >li:nth-child(4) {
				
margin-left: 0;
				
// margin-right: 2px;
				
float: right;
			}
				.b-1 .b-main-menu span{
					color: #FFF;
					font-size: 30px;
					text-transform: uppercase;
					padding-bottom: 2px;
					display: block;
					border-bottom: 3px solid #FFF;
					cursor: pointer;
					font-weight: bold;
				}
				.b-1 .b-main-menu li:hover span{
					color: #F00;
					border-bottom: 3px solid rgba(0,0,0,0);
				}
				.b-1 .b-main-menu .b-main-submenu{
					display: none;
					padding: 20px;
					position: absolute;
					left: -20px;
					top: 40px;
					color: #FFF;
					text-align: left;
					width: 130px;
				}
				.b-1 .b-main-menu li:hover .b-main-submenu{
					display: block;
				}
					.b-1 .b-main-menu .b-main-submenu li{
						cursor: pointer;
						display: inline-block;
						margin-bottom: 5px;
						/*border-bottom: 1px solid rgba(0,0,0);*/
					}
						.b-1 .b-main-menu .b-main-submenu li:hover{
							 text-decoration: underline; 
							/*border-bottom: 1px solid red;*/
						}
		.b-1-bottom{
			margin-top: 27px;
		}
			.b-1-bottom>.left{
				margin-top: 53px;
				margin-left: 25px;
			}
				.b-1-bottom>.left .left{
					font-size: 188px;
					color: #FFF;
					font-family: "arial";
					font-weight: bold;
				}
				.b-1-bottom>.left .right{
					margin-left: 7px;
					font-size: 40px;
					font-family: "arial";
					color: #FFF;
				}
					.b-1-bottom>.left .right span{
						font-size: 140px;
						display: block;
						line-height: 99px;
						margin-left: -35px;
						margin-top: 38px;
					}
		.b-1-bottom>.right{
		}
			.b-1-bottom>.right .b-red-button{
				float: left;
				border-radius: 3px;
				margin-left: 5px;
				cursor: pointer;
				height: 91px;
				overflow: hidden;
			}
			.b-1-bottom>.right .b-red-button {
				padding-top: 135px;
			}
			.b-1-bottom>.right .b-red-button:hover .b-but-2{
				/*background-color: #D00;*/
			}
				.b-1-bottom>.right .b-red-button .b-but{
					position: relative;
					-moz-transition: all .3s;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
					border-radius: 3px;
				}
				.b-1-bottom>.right .b-red-button .b-but-1{
					padding: 26px 0;
					width: 237px;
					background-color: #f00;
				}
				.b-1-bottom>.right .b-red-button .b-but-1:hover {
					-webkit-transform: translateY(-134px);
					-moz-transform: translateY(-134px);
					-ms-transform: translateY(-134px);
					-o-transform: translateY(-134px);
					transform: translateY(-134px);
				}
				
				.b-1-bottom>.right .b-red-button .b-but-2:hover p {
					display: none;
				}
					.b-1-bottom>.right .b-red-button .b-but-1 label {
						display: block;
						text-align: left;
						color: #fff;
						margin-bottom: 2px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 form {
						padding: 0 15px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input {
						width: 100%;
						border-radius: 2px;
						border: 1px solid #fff;
						padding: 7px;
						box-sizing: border-box;
						margin-bottom: 12px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input.error {
						background-color: rgb(255,155,255);
						border: 1px solid #fff !important;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a {
						width: 100%;					
						padding: 12px 0 13px;						
						border: 2px solid #fff;						
						box-sizing: border-box;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:hover {
						background-color: #fff;
						color: #333333;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:active {
						background-color: #4a4a4a;
						border: 2px solid #4a4a4a;
						color: #fff;
					}
				.b-1-bottom>.right .b-red-button .b-but-2{
					padding: 25px 0;
					background-color: #f00;
					width: 237px;
				}
					.b-1-bottom>.right .b-red-button .b-but i{
						position: absolute;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						display: block;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 i{
						left: -45px;
						top: -2px;
						background-image: url('../i/hand-mobile.png');
						width: 35px;
						height: 36px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 i{
						left: 37px;
						top: 25px;
						background-image: url('../i/two-hands.png');
						width: 53px;
						height: 39px;
					}
					.b-1-bottom>.right .b-red-button .b-but p{
						text-align: left;
						font-size: 14px;
						color: #FFF;
						position: relative;
						margin-bottom: 28px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p {
						padding-left: 68px;
						margin-left: 22px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p {
						padding-left: 108px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: contain;
						left: 23px;
						top: -1px;
						background-image: url('../i/hand-mobile.png');
						width: 35px;
						height: 36px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						left: 43px;
						top: -1px;
						background-image: url('../i/two-hands.png');
						background-size: contain;
						width: 53px;
						height: 39px;
					}
				#datepicker-inline {
					height: 170px;
				}
				div.ui-datepicker{
					font-size: 12px;
					margin-left: 13px;
				}
.b-2{
	padding-bottom: 87px;
}
	.b-2 .b-block{

	}
		h2.b-title{
			font-size: 40px;
			padding-top: 45px;
			padding-bottom: 37px;
			text-transform: uppercase;
		}
		.b-2 h2.b-title{
			color: #333333;
		}
		.b-2 p{
			text-align: justify;
			font-size: 12px;
			padding-left: 27px;
			padding-right: 35px;
			margin-bottom: 12px;
			font-family: "Trebuchet MS";
			font-style: italic;	
		}
		.b-2 p.sign {
			position: relative;
			margin-top: 35px;
		}
		.b-2 p.sign:after {
			position: absolute;
			font-size: 0;
			content: "";
			top: -35px;
			right: 100px;
			width: 212px;
			height: 81px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../i/sign.jpg");
		} 
		.b-2 h3 {
			margin: 20px 0;
		}    
.b-3{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-3.jpg');
	/*padding-bottom: 92px;*/
	position: relative;
	overflow: hidden;
}
	.b-3 video {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		
		/*width: auto;*/
		/*height: auto;*/
	}
	.b-3 .b-block{
		z-index: 100;
	}
		.b-3 h2.b-title{
			padding-top: 89px;
			color: #FFF;
		}
		.b-3 .b-about-list{
			padding-top: 174px;
			width: 890px;
			margin-left: 35px;
		}
			.b-3 .b-about-list .slick-arrow {
				position: absolute;
				width: 42px;
				height: 83px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				background-size: 84px 83px;
				top: 50%;
				cursor: pointer;
			}
			.b-3 .b-about-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-3 .b-about-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: -45px;
			}
			.b-3 .b-about-list .slick-arrow.slick-next {
				background-position: -42px 50%;
				right: -35px;
			}

			.b-3 .b-about-list .slide-about{
				text-align: left;
				// padding-left: 10px;
				overflow: hidden;
			}	
			// .b-3 .b-about-list .slide-about:nth-child(5n),.b-3 .b-about-list .slide-about:first-child(5n){
			// 	padding-left: 0;
			// }
				.b-3 .b-about-list .slide-about >span {
					font-size: 12px;
					color: red;
					display: inline-block;
					margin-bottom: 88px;
					position: relative;
				}
				.b-3 .b-about-list .slide-about >span:after {
					position: absolute;
					content: "";
					font-size: 0;
					width: 150px;
					height: 9px;
					background-position: 50%;
					background-image: url('../i/strip.png');
					background-repeat: repeat-x;
					top: 3px;
					right: -158px;
					display: none;
				}

				.b-3 .b-about-list .slide-about div{
					margin-bottom: 14px;
					width: 39px;
					height: 39px;
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
				}
				.b-3 .b-about-list .slide-about p{
					color: #FFF;
					font-size: 14px;
					text-transform: uppercase;
					min-height: 86px;
				}
				.b-3 .b-about-list .slide-about b{
					color: #000000;
					font-size: 48px;
					font-weight: bold;
				}
					.b-3 .b-about-list .slide-about b span{
						font-size: 12px;
						display: inline-block;
						text-align: left;
						vertical-align: top;
						margin-top: 7px;
						margin-left: 8px;
					}
.b-4{
	background-color: #e0e0e0;
}
	.b-4 .b-block-1{

width: 100%;

}
		.b-4 .b-block-1 h2.b-title{
			padding-bottom: 30px;
			padding-top: 60px;
		}
		.b-4 .b-block-1 .b-tabs{
			display: inline-block;
			margin-left: 2px;
			margin-bottom: 20px;
			background: none;
			border:none;

		}
		.b-4 .b-block-1 #tabs {
			background: none;
			border: none;
			font-size: 0;
			position: relative;
		}
			.b-4 .b-block-1 .b-tabs li{
				background: none;
				border: none;
				cursor: pointer;
				border-radius: 3px;
				background-color: #f00;
				font-size: 10px;
				text-transform: uppercase;
				margin-right: 2px;
				float: left;
			}
				.b-4 .b-block-1 .b-tabs li a {
					color: #fff;
					padding: 5px 22px;
					display: block;
				}
			.b-4 .b-block-1 .b-tabs li.ui-tabs-active,.b-4 .b-block-1 .b-tabs li.ui-state-hover{
				cursor: default;
				background-color: #333;
			}
		.b-4 .b-block-1 .b-tab{
			background: none;
			border:none;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			position: relative;	
			display: inline-block;		
		}

		.b-4 .b-block-1 #video-tab.b-tab {
			background-image: url('../i/mac.png');
			background-size: contain;
			width: 532px;
			height: 421px;
			margin-bottom: 20px;
		}
			.b-4 .b-block-1 #video-tab.b-tab .iframe {
				width: 500px;
				position: absolute;
				top: 15px;
				left: 17px;
				height: 277px;
			}
			.b-4 .b-block-1 #video-tab.b-tab p{
				font-size: 22px;
				text-align: left;
				/*margin: 40px 50px;*/
				color: #FFF;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt{
				display: block;
				position: absolute;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/play.png');
				background-size: contain;
				width: 73px;
				height: 73px;
				left: 50%;
				margin-left: -37px;
				top: 126px;
				z-index: 100;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt:hover{
				background-image: url('../i/play-hover.png');
			}
		.b-4 .b-block-1 #audio-tab.b-tab {
			background-image: url('../i/headphones.png');
			background-size: contain;
			background-position: 50% 0%;
			width: 300px;
			height: 441px;
		}
		.b-4 .b-block-1 #audio-tab.b-tab audio {
/*			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/player.png');*/
			position: absolute;
			width: 532px;
			/*height: 40px;*/
			top: 160px;
			left: 50%;
			margin-left: -266px;
		}
		.b-4 .b-block-1 #text-tab.b-tab {
			text-align: left;
			padding: 0 30px;
			margin-top: 80px;
			width: 960px;
			position: relative;
		}
		.b-4 .b-block-1 #text-tab.b-tab:before {
			position: absolute;
			font-size: 0;
			content: "";
			width: 200%;
			height: 100%;
			left: -50%;
			top: 0;
			background: #515258;
		}
			.b-4 .b-block-1 #text-tab.b-tab .tab-text {
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				height: 362px;	
				cursor: pointer;		
			}
			.b-4 .b-block-1 #text-tab.b-tab .tab-text.active {
				cursor: default;
			}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text > div {
					padding: 40px 30px;
					box-sizing: border-box;	
					height: inherit;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active > div  {
					background-color: rgba(0,0,0,0.4); 
				}
			.b-4 .b-block-1 #text-tab.b-tab #text-1 {
				background-image: url('../i/text-1.jpg');
			}
			.b-4 .b-block-1 #text-tab.b-tab #text-2 {
				background-image: url('../i/text-2.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-3 {
				background-image: url('../i/text-3.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-4 {
				background-image: url('../i/text-4.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-5 {
				background-image: url('../i/text-1.jpg');
			} 
				.b-4 .b-block-1 #text-tab.b-tab .tab-text h3 {
					font-size: 18px;
					line-height: 1.2;
					margin-bottom: 25px;
					display: none;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text p {
					font-size: 12px;
					display: none;
					font-style: italic;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active p {
					display: block;
				}
		.b-4 .b-block-1 .full-text {
			margin-top: 80px;
			display: none;
		}
		.b-4 .b-block-1 .full-text .text-back{
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.b-4 .b-block-1 .full-text .text-left {
			text-align: left;
		}
		.b-4 .b-block-1 .full-text .text-right {
			text-align: right;
		}

			.b-4 .b-block-1 .full-text .text-back > div {
				background-color: rgba(0,0,0,0.4);
			}
			.b-4 .b-block-1 .full-text .text-back .text-left {
				background-color: rgba(0,0,0,0.2);
			}
				.b-4 .b-block-1 .full-text .text-block {
					padding: 55px 45px 75px;
					background-color: #fff;
					
				}
				.b-4 .b-block-1 .full-text .text-block h3{
					font-size: 18px;
					color: #333333;
					line-height: 1.2;
					margin-bottom: 25px;
					font-weight: bold;
					width: 960px;
					margin: 0 auto 25px;
				}
				.b-4 .b-block-1 .full-text .text-block  h3.big {
					font-size: 24px;
					width: 960px;
					margin: 0 auto 25px;
				}
				.b-4 .b-block-1 .full-text .text-block  p{
					font-size: 14px;
					font-style: italic;
					color: #333333;
					line-height: 1.714;
					width: 960px;
					margin: 0 auto;
				}
				.b-4 .b-block-1 .full-text .text-back > div h3,.b-4 .b-block-1 .full-text .text-back > div p {
					color: #fff;
				}
			.b-4 .b-block-1 .full-text .text-back > div:hover {
				background-color: rgba(255,255,255,0.6);
			}
				.b-4 .b-block-1 .full-text .text-back > div:hover h3,.b-4 .b-block-1 .full-text .text-back > div:hover p {
					color: #333333;
				}
			.b-4 .b-block-1 .full-text .text-footer {
				padding: 40px 45px 20px;
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('../i/text-footer.jpg');
			}
				.b-4 .b-block-1 .full-text .text-footer h3{
					color: #fff;
				}
				.b-4 .b-block-1 .full-text .text-footer p {
					color: #cccccc;
				}
				.b-4 .b-block-1 .full-text .text-footer ul {
					margin-top: 70px;
					width: 960px;
					margin: 70px auto 0;
				}
					.b-4 .b-block-1 .full-text .text-footer ul li {
						font-size: 14px;
						position: relative;
						color: #cccccc;
						
					}

					.b-4 .b-block-1 .full-text .text-footer ul li.phone {
						font-size: 18px;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:before {
							position: absolute;
							font-size: 0;
							content: "";
							background-position: 50%;
							background-repeat: no-repeat;
							left: 50%;
							background-size: contain;
							top: -45px;
						}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1) {
						float: left;
						margin-right: 235px;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2) {
						float: left;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:last-child {
						margin-right: 0;
						float: right;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1):before {
							width: 28px;
							height: 30px;
							margin-left: -14px;
							background-image: url('../i/text-mobile.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2):before {
							width: 29px;
							height: 29px;
							margin-left: -15px;
							background-image: url('../i/text-mail.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:last-child:before {
							width: 22px;
							height: 33px;
							margin-left: -11px;
							background-image: url('../i/text-map.png');
						}

	.b-4 .b-block-2{
		background-color: #FFF;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
		.b-4 .b-block-2 .b-video-list{
			padding: 0px 27px;
		}

			.b-4 .b-block-2 .b-video-list .slide{
				cursor: pointer;
			}
				.b-4 .b-block-2 .b-video-list .slide > div {
					border-left: 1px solid #1d1e23;
					text-align: left;
					margin: 29px 0 32px;
				}
				.b-4 .b-block-2 .b-video-list .slide span{
					font-size: 14px;
					position: relative;
					display: block;
					cursor: pointer;
					width: 135px;
					padding: 4px 0;
					padding-left: 20px;
				}
				.b-4 .b-block-2 .b-video-list .slide span:hover,.b-4 .b-block-2 .b-video-list .slide.active span,.b-4 .b-block-2 .b-video-list .slide.hover span{
					color: #ff0000;
				}
				.b-4 .b-block-2 .b-video-list .slide.active span {
					cursor:	default;
				}
					.b-4 .b-block-2 .b-video-list .slide span:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 37px;
						height: 37px;
						right: -45px;
						top: 12px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: contain;
						background-image: url('../i/play-red.png');
						opacity: 0.000001;
					}
					.b-4 .b-block-2 .b-video-list .slide:hover span:after,.b-4 .b-block-2 .b-video-list .slide.active span:after,.b-4 .b-block-2 .b-video-list .slide.hover span:after{
						opacity: 1;
					}
			.b-4 .b-block-2 .b-video-list .slick-arrow {
				position: absolute;
				width: 18px;
				height: 34px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				background-size: 36px 34px;
				top: 33px;
				cursor: pointer;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: 0;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-next {
				background-position: -18px 50%;
				right: 0;
			}
.b-5{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-5.jpg');
	/*padding-bottom: 138px;*/
}
	.b-5 .b-block{

	}
		.b-5 h2.b-title{
			color: #FFF;
			padding-top: 80px;
		}
		.b-5 .b-service-list{
			display: inline-block;
			margin-top: 103px;
			width: 100%;
			padding-left: 25px;
			box-sizing: border-box;
		}
			.b-5 .b-service-list li{
				float: left;
				margin-right: 137px;
				width: 215px;
				color: #FFF;
			}
			.b-5 .b-service-list li:last-child{
				margin-right: 0px;
				width: 190px;
			}
				.b-5 .b-service-list li > div {
					opacity: 0.4;
					cursor: pointer;
				}
				.b-5 .b-service-list li.active >div {
					cursor: default;
				}
				.b-5 .b-service-list li .img{
					background-repeat: no-repeat;
					background-size: 194px 112px;
					height: 112px;
					margin: 0 auto 25px;
				}
				
				.b-5 .b-service-list li:hover >div,.b-5 .b-service-list li.active > div {
					opacity: 1;
				}

				.b-5 .b-service-list li:nth-child(1) .img {
					background-image: url('../i/b-5/1.png');
					background-position: -113px 50%;
					background-size: 224px 112px;
					width: 112px;
				}
				.b-5 .b-service-list li:nth-child(2) .img {
					background-image: url('../i/b-5/2.png');
					background-position: -98px 50%;
					width: 97px;
				}
				.b-5 .b-service-list li:nth-child(3) .img {
					background-image: url('../i/b-5/3.png');
					background-position: -113px 50%;
					width: 113px;
					background-size: 226px 112px;
				}
				.b-5 .b-service-list li:not(.active):hover .img{
					background-position: 0% 50%;
				}

				.b-5 .b-service-list li h3{
					font-size: 24px;
					font-weight: bold;
					color: #fff;
					margin-bottom: 40px;
					line-height: 1;
				}
				.b-5 .b-service-list li:not(.active):hover h3 {
					color: #F00;
				}
				.b-5 .b-service-list li p{
					text-align: center;
					font-style: italic;
					color: #cccccc;
					font-size: 12px;
					/*margin-left: 5px;*/
					line-height: 1.5;
				}

		.b-5 .service-cont {
			min-height: 365px;
			display: none;
			margin-top: 50px;
			padding-bottom: 80px;
		}
		.b-5 .service {
			display: none;
		}    
    .b-5 .service  > div {
	    width: 880px;
	    display: inline-block;
	    margin-bottom: 5px;
	   }
			.b-5 .service .service-title {
				padding: 35px;
				width: 880px;
				display: inline-block;
				box-sizing: border-box;
				text-align: left;
				background-color: rgba(255,255,255,0.1);
				cursor: pointer;
			}
				.b-5 .service .service-title h4 {
					float: left;
					width: 220px;
					text-transform: uppercase;
					color: red;
					margin-right: 55px;
				}
				.b-5 .service .service-title p {
					float: left;
					width: 380px;
					color: #fff;
					font-size: 12px;
				}
				.b-5 .service .service-title a {
					text-align: center;
					float: right;
					font-size: 14px;
					padding: 12px 0;
					width: 180px;
					box-shadow: 0px 1px 6px 0px rgba(1, 1, 1, 0.32);
				}
				.b-5 .service ul {
					text-align: left;
					margin: 25px 45px;
					display: none;
				}
					.b-5 .service ul li {
						color: #fff;
						font-size: 12px;
						list-style: circle;
						list-style-position: outside;
						line-height: 2;
						padding-left: 15px;
					}
.b-6{
	/*padding-bottom: 82px;*/
}
	.b-6 .b-block{

	}
		.b-6 h2.b-title{
			color: #666666;
			padding-bottom: 0px;
			padding-top: 54px;
		}
		.b-6 .b-partners{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../i/partners.jpg');
			width: 898px;
			height: 260px;
			display: inline-block;
			margin: 0 35px 0 27px;
		}
			.b-6 .b-partners p {
				position: absolute;
				bottom: 40px;
				text-align: left;
				text-indent: 20px;
			}
.b-7{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-7.jpg');
	padding-bottom: 35px;
}
	.b-7 .b-block{

	}
		.b-7 p{
			font-size: 14px;
			color: #FFF;
			width: 904px;
			display: inline-block;
			text-align: left;
			padding-top: 42px;
			padding-bottom: 22px;
		}
		a.b-red-butt{
			background-color: #F00;
			border-radius: 3px;
			padding: 25px 50px;
			font-size: 18px;
			color: #FFF;
			cursor: pointer;
			display: inline-block;
		}
		a.b-red-butt:hover{
			background-color: #D00;
		}
		.b-7 a.b-red-butt{

padding: 19px 40px 20px;

}
.b-8{
	
}
	.b-8 .b-white-block{
		background-color: #FFF;
	}
		.b-8 .b-white-block h2.b-title{
			padding-bottom: 17px;
			color: #666666;
			padding-top: 30px;
		}
		.b-8 .b-white-block h3{
			font-size: 16px;
			color: #666666;
			padding-bottom: 21px;
		}
	.b-8 .b-white-block .nav {
		margin-top: 5px;
		margin-bottom: 20px;
		display: none;
	}
		.b-8 .b-white-block .nav li {
			position: relative;
			font-size: 12px;
			color: #cccccc;
			float: left;
			margin-right: 25px;
		}
		.b-8 .b-white-block .nav li:nth-child(n+2):before {
			position: absolute;
			content: "";
			font-size: 0;
			width: 4px;
			height: 6px;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/nav.png');
			top: 5px;
			left: -14px;
		}
		.b-8 .b-white-block .nav li:last-child {
			margin-right: 0;
		}
		.b-8 .b-white-block .nav li.active {
			color: #000;
		}
		.b-8 .b-white-block .nav li.active:nth-child(n+2):before {
			background-position: -4px 50%;
		}
	.b-8 .b-back{
		background-position: 50% 50%;
		background-size: cover;
		display: none;
	}
	.b-8 #invest-1.b-back {
		background-image: url('../i/b-8/1-back.jpg');
		display: block;
	}
	.b-8 #invest-2.b-back {
		background-image: url('../i/b-8/2-back.jpg');
	}
	.b-8 #invest-3.b-back {
		background-image: url('../i/b-8/3-back.jpg');
	}
	.b-8 #invest-4.b-back {
		background-image: url('../i/b-8/4-back.jpg');
	}
	.b-8 #invest-5.b-back {
		background-image: url('../i/b-8/5-back.jpg');
	}
	.b-8 #invest-6.b-back {
		background-image: url('../i/b-8/6-back.jpg');
	}

	.b-8 #invest-final.b-back .final-back{
		background-position: 50% 0%;
		background-size: cover;
		background-image: url('../i/b-8/final-back.jpg');
		/*padding-bottom: 19px;*/
	}

		.b-8 .b-back .b-icon{
			padding-top: 30px;
			margin: 0 auto;
			/*margin-bottom: 25px;*/
		}
			.b-8 .b-back .b-icon p{
				font-size: 12px;
				color: #F00;
				text-transform: uppercase;
				margin-top: 6px;
			}
			.b-8 .b-back .b-icon .sprite {
				background-image: url('../i/spritesheet.png');
				background-size: 420px 70px;
				background-repeat: no-repeat;
				display: inline-block;
   }

			.b-8 .b-back .b-icon .sprite.sprite-icon-1 {
				width: 70px;
				height: 70px;
				background-position: 0 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-2 {
				width: 70px;
				height: 70px;
				background-position: -70px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-3 {
				width: 70px;
				height: 70px;
				background-position: -140px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-4 {
				width: 70px;
				height: 70px;
				background-position: -210px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-5 {
				width: 70px;
				height: 70px;
				background-position: -280px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-6 {
				width: 70px;
				height: 70px;
				background-position: -350px 0;
			}

		.b-8 .b-back h3{
			font-size: 26px;
			color: #000000;
			margin-bottom: 30px;
		}
		.b-8 .b-back .b-checkboxes{
			display: inline-block;
			margin-bottom: 0;
		}
			.b-8 .b-back .b-checkboxes li{
				float: left;
				margin-right: 103px;
				cursor: pointer;
				margin-bottom: 50px;
				/*min-height: 115px;*/
			}
			.b-8 .b-back .b-checkboxes li:last-child{
				margin-right: 0px;
				
			}
				.b-8 .b-back .b-checkboxes li input{
					display: none;
				}
				.b-8 .b-back .b-checkboxes li label{
					cursor: pointer;
					font-weight: bold;
					font-size: 16px;
					color: #333333;
					padding-left: 29px;
					position: relative;
					display: block;
					text-align: left;
				}
				.b-8 .b-back .b-checkboxes li label span {
					font-size: 12px;
					color: #333333;
					max-width: 220px;
					display: block;
					margin-top: 5px;
					font-weight: 500;
				}
				.b-8 .b-back .b-checkboxes li label:before {
					position: absolute;
					content: "";
					font-size: 0;
					width: 16px;
					height: 16px;
					border: 1px solid rgb(204, 204, 204);
					border-radius: 3px;
					background-color: #fff;
					top: -1px;
					left: 2px;
				}
				.b-8 .b-back .b-checkboxes li label:after {
					position: absolute;
					content: "";
					font-size: 0;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/check.png');
					width: 12px;
					height: 12px;
					top: 2px;
					left: 5px;
					display: none;
				}
				.b-8 .b-back .b-checkboxes li input:checked + label:after {
					display: block;
				}

		.b-8 .b-back a.b-red-butt{
			width: 200px;
			padding: 15px 0px 17px;
		}
		.b-back.invest-test .b-block {
			display: table;
			height: 73%;
		}
			.b-back.invest-test .b-block > div {
				display: table-cell;
				vertical-align: middle;
			}
		.b-8 .b-back .final-back h4{
			font-size: 24px;
			color: #000000;
			font-weight: bold;
			padding-top: 36px;
			/*padding-bottom: 24px;*/
		}
		.b-8 .b-back .final-back .b-block >.clearfix {
			
		}
		.b-8 .b-back .final-back .b-block .percent {
			font-size: 150px;
			color: #fff;
			line-height: 150px;
			margin-left: 140px;
		}
		.b-8 .b-back .final-back .b-block .right {
			
margin-top: 15px;
			
margin-right: 35px;
			
text-align: left;
		}
			.b-8 .b-back .final-back .b-block .right li{
				line-height: 1.5;
				position: relative;
			}
			.b-8 .b-back .final-back .b-block .right li:before {
				position: absolute;
				font-size: 0;
				content: "";
				background-position: 50%;
				background-repeat: no-repeat;
				width: 10px;
				height: 10px;
				background-size: contain;
				top: 7px;
				left: -25px;
				background-image: url('../i/white-check.png');
			}
		.b-8 .b-back .final-back .b-block .stats {

font-size: 0;

/* margin-top: 37px; */

display: inline-block;
    /*padding-top: 57px;*/

margin-bottom: 27px;
}
			.b-8 .b-back .final-back .b-block .stats li {

display: inline-block;

padding-right: 35px;

position: relative;
}
				.b-8 .b-back .final-back .b-block .stats li:last-child {
					padding-right: 11px;
				}
				.b-8 .b-back .final-back .b-block .stats li:after {
					position: absolute;
					font-size: 0;
					content: "";
					height: 4px;
					width: 100%;
					bottom: 25px;
					left: 0;
					background-color: #fff;
				}
			.b-8 .b-back .final-back .b-block .stats li > div{

margin-bottom: 14px;

}
				.b-8 .b-back .final-back .b-block .stats li > div span{

font-size: 12px;

margin-bottom: 2px;

display: block;

}
				.b-8 .b-back .final-back .b-block .stats li > div div{

width: 29px;

height: 100px;

background-color: #fff;

margin: 0 auto;
}
			.b-8 .b-back .final-back .b-block .stats li > h5{

font-size: 12px;

color: #000;
}
		.b-8 .b-back .final-back .b-block .butts {
			display: inline-block;
		}
			.b-8 .b-back .final-back .b-block .butts a {
				
			}
			.b-8 .b-back .final-back .b-block .butts .b-white-butt {
				background:none;
				border: 2px solid #fff;
				box-sizing: border-box;
				margin-right: 15px;
				padding: 13px 0 15px;
			}
			.b-8 .b-back .final-back .b-block .butts .b-white-butt:hover {
				background-color: #fff;
				color: #333333;
			}
		.b-8 .b-back .solution {

		}
			.b-8 .b-back .solution .b-block{
			
padding: 37px 0 93px;
			}
			.b-8 .b-back .solution .b-block h4{
				font-size: 30px;
				color: rgb(153, 153, 153);
				line-height: 1.2;
				margin-bottom: 64px;
			}
			.b-8 .b-back .solution .b-block ul {
				display: block;
				margin-left: 26px;
				margin-right: 35px;
			}
				.b-8 .b-back .solution .b-block ul li {
					float: left;
					position: relative;
					/* width: 320px; */
					margin-right: 107px;
				}
				.b-8 .b-back .solution .b-block ul li:nth-child(n+2):before {
					position: absolute;
					font-size: 0;
					content: "";
					width: 175px;
					height: 17px;
					left: -143px;
					top: 19px;
					background-position: 50%;
					background-image: url('../i/circles.jpg');
				}
				.b-8 .b-back .solution .b-block ul li:nth-child(3) {
					margin-right: 0;
				}

					.b-8 .b-back .solution .b-block ul li div {
						width: 61px;
						height: 61px;
						background-size: contain;
						background-position: 50%;
						margin: 0 auto 22px;
					}
					.b-8 .b-back .solution .b-block ul li h5 {
						
font-size: 18px;
						
font-weight: bold;
						
margin-bottom: 25px;
					}
					.b-8 .b-back .solution .b-block ul li p {
						font-size: 12px;
						color: rgb(102, 102, 102);
						line-height: 1.2;
						/* padding: 0 40px; */
						width: 228px;
					}
			.b-8 .b-back .solution-back {
				background-size: cover;
				background-image: url('../i/sol-back.jpg');
				background-repeat: no-repeat;
				background-position: 100% 0%;
			}
			.b-8 .b-back .solution-back .sol-text {

padding-bottom: 74px;

}
			.b-8 .b-back .solution-back .sol-text:nth-child(2n){
				
background-color: rgba(0,0,0,0.45);
			}
			.b-8 .b-back .solution-back .sol-text:nth-child(2n+1){
				
background-color: rgba(0,0,0,0.25);
			}

				.b-8 .b-back .solution-back .sol-text h5 {
					font-size: 30px;
					color: #fff;
					padding-top: 68px;
					margin-bottom: 48px;
					position: relative;
				}
					.b-8 .b-back .solution-back .sol-text h5:before {
						position: absolute;
						font-size: 0;
						content: "";
						background-position: 50%;
						background-image: url('../i/sol-icon-1.png');
						background-size: contain;
						background-repeat: no-repeat;
						width: 36px;
						height: 36px;
						top: 30px;
						left: 50%;
						margin-left: -18px;
					}
					.b-8 .b-back .solution-back .sol-text:nth-child(2) h5:before {
						background-image: url('../i/sol-icon-2.png');
					}
				.b-8 .b-back .solution-back .sol-text p {
					color: rgb(204,204,204);
					font-style: italic;
					line-height: 1.75;
					width: 390px;
					margin: 0 auto;
				}
			.b-8 .b-back .solution-back .sol-text:hover {
				background: none;
			}
			.b-8 .b-back .solution-back .sol-text:hover p {
				color: #000;
			}
		.b-8 .b-back .solution-back .solution-black {
			background-color: #000;
		}
		.b-8 .b-back .solution-back ul {
			
width: 960px;
			
margin: 0 auto;
		}
			.b-8 .b-back .solution-back ul li {
				font-weight: bold;
				color: #fff;
				position: relative;
				float: left;
				padding: 26px 26px 33px;
				margin-right: 61px;
				cursor: pointer;
			}
			.b-8 .b-back .solution-back ul li:last-child {
				float: right;
				margin-right: 57px;
			}
				.b-8 .b-back .solution-back ul li:hover {
					color: red;
				}
				.b-8 .b-back .solution-back ul li p {
					display: none;
					position: absolute;
					top: 92px;
					left: 50%;
					margin-left: -120px;
					width: 240px;
					color: #000;
					line-height: 1.2;
					font-size: 12px;
					font-weight: 500;
				}
					.b-8 .b-back .solution-back ul li:hover p {
						display: block;
					}
			.b-8 .b-back .solution-back .sol-butt {				
				padding: 147px 0 39px;		
				background-color: rgba(255,255,255,0.4);
			}
	.b-8 .b-back .faq {

	}
		.b-8 .b-back .faq .b-block {

		}
			.b-8 .b-back .faq .b-block h4 {
				font-size: 30px;
				padding: 49px 0 29px;
			}
			.b-8 .b-back .faq .b-block #accordion {
				width: 742px;
				margin: 0 auto;
			}
				.b-8 .b-back .faq .b-block #accordion h5 {
					font-size: 14px;
					text-align: left;
					padding: 10px 28px 11px;
					color: #333333;
					padding-right: 45px;
					background: #e7e7e7;
					border-radius: 3px;
				}
				.b-8 .b-back .faq .b-block #accordion div {

background: none;

border: none;

padding: 21px 28px;

}
					.b-8 .b-back .faq .b-block #accordion div p {						
						color: #666666;					
						font-size: 12px;					
						text-align: left;						
						line-height: 1.5;
					}
					.b-8 .b-back .faq .b-block #accordion div ul {

					}
						.b-8 .b-back .faq .b-block #accordion div ul li {
							color: #666666;					
							font-size: 12px;					
							text-align: left;						
							line-height: 1.5;
							list-style: disc;
						}
					.b-8 .b-back .faq .b-block #accordion .ui-accordion-header-active {
						background: #333333;
						color: #fff;
					}
					.b-8 .b-back .faq .b-block #accordion .ui-icon-triangle-1-e {
						background: url("../i/acc-active.png");
						background-size: contain;
						background-repeat: no-repeat;
						height: 12px;
						width: 12px;
						left: 714px;
						margin-top: -6px;
					}
					.b-8 .b-back .faq .b-block #accordion .ui-icon-triangle-1-s {
						background: url("../i/acc-header.png");
						background-size: contain;
						background-repeat: no-repeat;
						height: 2px;
						width: 7px;
						left: 714px;
						margin-top: -1px;
					}
					.b-8 .b-back .faq .b-block #accordion .ui-state-hover,.b-8 .b-back .faq .b-block #accordion .ui-state-focus {
						border: 1px solid #fff;
					}
					.b-8 .b-back .faq .b-block #accordion .ui-accordion-header-active.ui-state-hover,.b-8 .b-back .faq .b-block #accordion .ui-accordion-header-active.ui-state-focus {
						border: 1px solid #333333;
					}
			.b-8 .b-back .faq .b-block form {
				text-align: left;
				margin-left: 105px;
				margin-bottom: 50px;
			}
			.b-8 .b-back .faq .b-block form > div {
				margin-bottom: 15px;
			}
				.b-8 .b-back .faq .b-block form label{
					font-size: 12px;
					width: 107px;
					display: block;
					float: left;
					padding-top: 9px;
					color: #999999;
				}
				.b-8 .b-back .faq .b-block form > div:nth-child(4) label,.b-8 .b-back .faq .b-block form > div:nth-child(5) label{
					padding-top: 3px;
				}
					.b-8 .b-back .faq .b-block form input,.b-8 .b-back .faq .b-block form select{
						font-size: 14px;
						padding: 9px 15px;
						box-sizing: border-box;
						border: 1px solid #e4e4e4;
						border-radius: 6px;
						float: left;
						width: 558px;
					}
					.b-8 .b-back .faq .b-block form select{
				
					}
					.b-8 .b-back .faq .b-block form .form-butt {
						text-align: center;
						margin-top: 42px;
						margin-right: 82px;
					}
.b-9{
	background-position: 50% 50%;
	background-image: url('../i/gray-back.jpg');
	padding: 53px 0px 50px;
}
	.b-9 .b-block{

	}
		.b-9 h3{
			text-align: left;
			font-size: 30px;
			color: #FFF;
			width: 280px;
			margin-left: 26px;
			line-height: 1.6;
		}
		.b-9 .right{
			color: #FFF;
			text-align: left;
			margin-right: 34px;
			margin-top: 15px;
		}
			.b-9 .right .b-phone-contact{
				font-size: 18px;
				margin-bottom: 19px;
				position: relative;
			}
				.b-9 .right .b-phone-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 28px;
					height: 30px;
					left: -56px;
					top: -7px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('../i/b-9/1.png');
				}
			.b-9 .right .b-email-contact{
				font-size: 14px;
				margin-bottom: 20px;
				position: relative;
				padding-top: 5px;
			}
				.b-9 .right .b-email-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 29px;
					height: 29px;
					left: -56px;
					top: 2px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('../i/b-9/2.png');
				}
			.b-9 .right .b-place-contact{
				font-size: 14px;
				position: relative;
			}
				.b-9 .right .b-place-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 22px;
					height: 33px;
					left: -51px;
					top: 3px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('../i/b-9/3.png');
				}
.b-10{

}
	.b-10 .b-map{
		height: 248px;
		width: 100%;
	}
.b-11{
	padding-top: 43px;
}
	.b-11 .b-block{

	}
		.b-11 .b-footer-menu-cont{

		}
			.b-11 .b-footer-menu-cont .b-footer-menu{
				margin-left: 27px;
			}
				.b-11 .b-footer-menu-cont .b-footer-menu li{
					float: left;
					margin-right: 20px;
				}
					.b-11 .b-footer-menu-cont .b-footer-menu li a{
						color: #333333;
						text-decoration: underline;
						font-size: 12px;
					}
						.b-11 .b-footer-menu-cont .b-footer-menu li a:hover{
							text-decoration: none;
						}
			.b-11 .b-footer-menu-cont .right{
				margin-right: 36px;
			}
				.b-11 .b-footer-menu-cont .right a{

				}
					.b-11 .b-footer-menu-cont .right a:hover{
						opacity: 0.8;
					}
					.b-11 .b-footer-menu-cont .right a img{
						width: 20px;
					}
		.b-11 .b-footer-cont{
			margin-top: 126px;
			padding-bottom: 20px;
		}
			.b-11 .b-footer-cont .b-book-cont{
				margin-left: 28px;
				padding-left: 37px;
				font-size: 12px;
				text-decoration: underline;
				text-align: left;
				position: relative;
				width: 60px;
				line-height: 1.5;
				cursor: pointer;
			}
				.b-11 .b-footer-cont .b-book-cont:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 27px;
					height: 27px;
					left: 0px;
					top: 4px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('../i/book.png');
				}
			.b-11 .b-footer-cont .b-copy-cont{
				font-size: 12px;
				margin-left: 27px;
				text-align: left;
				line-height: 1.5;
			}
			.b-11 .b-footer-cont .b-dev-cont{
				font-size: 12px;
				margin-top: 18px;
				margin-right: 37px;
			}
				.b-11 .b-footer-cont .b-dev-cont a{
					font-size: 12px;
					text-decoration: underline;
				}
					.b-11 .b-footer-cont .b-dev-cont a:hover{
						text-decoration: none;
					}
.b-popup{

}
	.b-popup .b-head{
		color: #FFF;
		text-align: left;
		border-radius: 3px 3px 0px 0px ;
		padding: 28px 50px;
		background-color: #555555;
	}
	.b-popup .b-popup-back{
		background-position: 50% 50%;
		background-size: cover;
		background-image: url('../i/back-popup.jpg');
		padding: 65px 50px 28px;
	}
		.b-popup .b-popup-back form {
			width: 402px;
		}
		.b-popup .b-data-cont{
			margin-bottom: 30px;
			position: relative;	
		}
			.b-popup .b-data-cont h3{
				font-size: 24px;
				color: #F00;
			}
			.b-popup .b-data-cont input{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 12px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 5px 10px;
				margin-right: 2px;
			}
			.b-popup .b-data-cont span {
				position: absolute;
				background-image: url("../i/refresh.png");	
				background-size: contain;
				width: 26px;
				height: 26px;
				background-position: 50%;
				right: 2px;
				bottom: -25px;
				cursor: pointer;

			}
		.b-popup .b-popup-form{
			/*width: 402px;*/
		}
			.b-popup .b-popup-form input[type="text"],.b-popup .b-popup-form select{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 12px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 5px 10px;
				width: 176px;
				margin-bottom: 15px;
			}
			.b-popup .b-popup-form.consult input[type="text"],.b-popup .b-popup-form select {
				width: 100%;
    			box-sizing: border-box;
			}
			.b-popup .b-popup-form.consult select{
				padding: 4px 10px;
			}    
			
			.b-popup .b-popup-form input[type="text"].b-input-name{
				width: 378px;
			}
			.b-popup .b-popup-form a.b-red-butt{
				margin-top: 30px;
				cursor: pointer;
				margin-bottom: 35px;
				padding: 19px 25px;
			}
	#b-popup-consult .b-popup-back{
		padding-top: 40px;
		padding-bottom: 0;
	}
.fancybox-close{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/close.png');
	width: 20px;
	height: 20px;
	right: 30px;
	top: 26px;
}
.b-thanks {
	width: 480px;
	text-align: left;
	border-radius: 3px;
}
	.b-thanks h3 {
		padding: 27px 37px;
		color: #fff;
		background: red;
		font-size: 14px;
		border-radius: 3px 3px 0 0;
	}
	.b-thanks h4 {
		padding: 50px 50px 50px 110px;
		font-size: 24px;
		color: rgb(58, 58, 58);
		position: relative;
	}
		.b-thanks h4:before {
			position: absolute;
			content: "";
			font-size: 0;
			width: 53px;
			height: 54px;
			top: 55px;
			left: 40px;
			background-position: 50%;
			background-repeat: no-repeat;
			background-image: url("../i/thanks.png");
		}

@media (min-width: 1000px) {
	.b-1-bottom>.right .b-red-button .b-but-2:hover {
		-webkit-transform: translateY(-129px);
		-moz-transform: translateY(-129px);
		-ms-transform: translateY(-129px);
		-o-transform: translateY(-129px);
		transform:translateY(-129px);
	}
}

@media screen and (max-width: 1000px){
	
}
@media screen and (max-width: 1020px){

}