@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 750px;
	text-align: center;
	font-family: 'Verdana',arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #333333;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333333;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 690px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-0{

}
	.b-0 .b-block{
		text-align: left;
		padding: 18px 0px;
	}
		.b-0 .b-logo-left{
			display: block;
			font-size: 0;
			margin: 0;
		}
			.b-0 .b-logo-left img{

			}
	.b-0 .b-block ul {
		display: none;
	}

.b-1{
	background-position: 50% 50%;
	background-size: cover;
	/*background-image: url('../i/back-1.jpg');*/
}
	.b-1 .b-block{

	}
		.b-1 h1{
			font-size: 24px;
			text-align: left;
			padding-top: 25px;
			text-align: left;
			color: #FFF;
			padding-left: 0;
		}
		.b-1 .b-main-menu{
			margin-top: 130px;
			text-align: left;
		}
			.b-1 .b-main-menu>li{
				float: none !important;
				margin-left: 0px !important;
				position: relative;
				display: block;
				margin-bottom: 20px;
				font-size: 28px;
			}
				.b-1 .b-main-menu span{
					color: #FFF;
					font-size: 55px;
					text-transform: uppercase;
					padding-bottom: 2px;
					display: block;
					border-bottom: 3px solid #FFF;
					cursor: pointer;
					display: inline-block;
				}
				.b-1 .b-main-menu li:hover span{
					color: #F00;
				}
				.b-1 .b-main-menu .b-main-submenu{
					display: none;
					position: relative;
					top: 0;
					padding: 20px 20px 0;
					left: -20px;
					color: #FFF;
					text-align: left;
					width: 100%;
				}
				.b-1 .b-main-menu li:hover .b-main-submenu{
					display: none;
					
				}
					.b-1 .b-main-menu .b-main-submenu li{
						cursor: pointer;
						display: block;
						margin-bottom: 5px;
					}
						.b-1 .b-main-menu .b-main-submenu li:hover{
							text-decoration: underline;
						}
		.b-1-bottom{
			margin-top: 0;
			height: 545px;
			padding-bottom: 0;
		}
			.b-1-bottom>.left{

margin-top: 20px;

margin-left: 0;
}
				.b-1-bottom>.left .left{
					font-size: 333px;
					color: #FFF;
					font-family: "arial";
					font-weight: bold;
				}
				.b-1-bottom>.left .right{
					margin-left: 0px;
					font-size: 45px;
					font-family: "arial";
					color: #FFF;
				}
					.b-1-bottom>.left .right span{
						font-size: 200px;
						display: block;
						line-height: 135px;
						margin-top: 130px;
						font-weight: bold;
					}
		.b-1-bottom>.right{
			/*margin-top: 88px;*/
			width: 100%;
			/* position: relative; */
			margin-top: -205px;
		}
			.b-1-bottom>.right .b-red-button{
				float: left;
				border-radius: 3px;
				margin-left: 0;
				cursor: pointer;
				height: 122px;
				overflow: hidden;
				width: 49%;
			}
			.b-1-bottom>.right .b-red-button {
				padding-top: 196px;
				width: 50%;
			}
			.b-1-bottom>.right .b-red-button:hover .b-but-2{
				/*background-color: #D00;*/
			}
				.b-1-bottom>.right .b-red-button .b-but{
					position: relative;
					-moz-transition: all .3s;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
					border-radius: 3px;
				}
				.b-1-bottom>.right .b-red-button .b-but-1{
					padding: 20px;
					padding-top: 26px;
					width: 98%;
					background-color: #f00;
					box-sizing: border-box;
				}
				.b-1-bottom>.right .b-red-button .b-but-1:hover {
					-webkit-transform: translateY(-186px);
					-moz-transform: translateY(-186px);
					-ms-transform: translateY(-186px);
					-o-transform: translateY(-186px);
					transform: translateY(-186px);
				}
				.b-1-bottom>.right .b-red-button .b-but-2:hover {
					-webkit-transform: translateY(-165px);
					-moz-transform: translateY(-165px);
					-ms-transform: translateY(-165px);
					-o-transform: translateY(-165px);
					transform: translateY(-165px);
				}
				.b-1-bottom>.right .b-red-button .b-but-2:hover p {
					display: none;
				}
					.b-1-bottom>.right .b-red-button .b-but-1 label {
						display: block;
						text-align: left;
						color: #fff;
						margin-bottom: 5px;
						font-size: 28px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input {
						width: 100%;
						border-radius: 2px;
						border: 1px solid #fff;
						padding: 12px;
						box-sizing: border-box;
						margin-bottom: 12px;
						font-size: 28px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 input.error {
						background-color: rgb(255,155,255);
						border: 1px solid #fff !important;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a {
						width: 100%;
						padding: 12px 0 13px;
						border: 2px solid #fff;
						box-sizing: border-box;
						font-size: 28px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:hover {
						background-color: #fff;
						color: #333333;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 a:active {
						background-color: #4a4a4a;
						border: 2px solid #4a4a4a;
						color: #fff;
					}
				.b-1-bottom>.right .b-red-button .b-but-2{
					padding: 26px;
					background-color: #f00;
					width: 293px;
				}
					.b-1-bottom>.right .b-red-button .b-but i{
						position: absolute;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						display: block;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 i{
						left: -45px;
						top: -2px;
						background-image: url('../i/hand-mobile.png');
						width: 35px;
						height: 36px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 i{
						left: 37px;
						top: 25px;
						background-image: url('../i/two-hands.png');
						width: 53px;
						height: 39px;
					}
					.b-1-bottom>.right .b-red-button .b-but p{
						text-align: left;
						font-size: 28px;
						color: #FFF;
						position: relative;
						margin-bottom: 22px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p {
						padding-left: 45px;
						margin-left: 32px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p {
						padding-left: 113px;
					}
					.b-1-bottom>.right .b-red-button .b-but-1 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 50px 51px;
						left: -17px;
						top: 9px;
						background-image: url('../i/hand-mobile.png');
						width: 50px;
						height: 51px;
					}
					.b-1-bottom>.right .b-red-button .b-but-2 p:before {
						position: absolute;
						content: "";
						font-size: 0;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 75px 55px;
						left: 22px;
						top: 7px;
						background-image: url('../i/two-hands.png');
						width: 75px;
						height: 55px;
					}
				#datepicker-inline {
					height: 235px;
				}
				div.ui-datepicker{
					font-size:17px;
					margin-left: 0;
				}
.b-2{
	padding-bottom: 85px;
}
	.b-2 .b-block{

	}
		h2.b-title{
			font-size: 55px;
			text-transform: uppercase;
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.b-2 h2.b-title{
			color: #333333;
		}
		.b-2 p{
			text-align: left;
			font-size: 28px;
			line-height: 44px;
		}
.b-3{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-3.jpg');
	padding-bottom: 100px;
}
	.b-3 .b-block{

	}
		.b-3 h2.b-title{
			padding-top: 90px;
			color: #FFF;
		}
		.b-3 .b-about-list{
			padding-top: 50px;
			width: 100%;
			margin-left: 0;
		}
			.b-3 .b-about-list .slick-arrow {
				position: absolute;
				width: 63px;
				height: 124px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				background-size: 126px 124px;
				top: 150px;
				cursor: pointer;
				z-index: 1000;
			}
			.b-3 .b-about-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-3 .b-about-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: 0px;
			}
			.b-3 .b-about-list .slick-arrow.slick-next {
				background-position: -63px 50%;
				right: 0px;
			}

			.b-3 .b-about-list .slide-about{
				text-align: center;
				padding-left: 10px;
				overflow: hidden;
			}	

				.b-3 .b-about-list .slide-about >span {
					font-size: 26px;
					color: red;
					display: block;
					margin-bottom: 50px;
					position: relative;
				}
				.b-3 .b-about-list .slide-about >span:after {
					position: absolute;
					content: "";
					font-size: 0;
					width: 150px;
					height: 9px;
					background-position: 50%;
					background-image: url('../i/strip.png');
					background-repeat: repeat-x;
					top: 3px;
					right: -158px;
					display: none;
				}

				.b-3 .b-about-list .slide-about div{
					margin-bottom: 20px;
					width: 80px;
					height: 80px;
					background-size: 80px;
					display: inline-block;
					background-repeat: no-repeat;
					background-position: 50%;
				}
				.b-3 .b-about-list .slide-about p{
					color: #FFF;
					font-size: 28px;
					text-transform: uppercase;
					min-height: 1px;
					margin-bottom: 50px;
				}
				.b-3 .b-about-list .slide-about b{
					color: #000000;
					font-size: 96px;
					font-weight: bold;
				}
					.b-3 .b-about-list .slide-about b span{
						font-size: 22px;
						display: inline-block;
						text-align: left;
						vertical-align: top;
						margin-top: 16px;
						margin-left: 8px;
					}
.b-4{
	background-color: #e0e0e0;
}
	.b-4 .b-block-1{

	}
		.b-4 .b-block-1 h2.b-title{
			padding-bottom: 30px;
		}
		.b-4 .b-block-1 .b-tabs{
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 40px;
			background: none;
			border:none;
		}
		.b-4 .b-block-1 #tabs {
			background: none;
			border: none;
			font-size: 0;
		}
			.b-4 .b-block-1 .b-tabs li{
				background: none;
				border: none;
				cursor: pointer;
				border-radius: 3px;
				background-color: #f00;
				font-size: 24px;
				text-transform: uppercase;
				margin-right: 10px;
				float: left;
			}
				.b-4 .b-block-1 .b-tabs li a {
					color: #fff;
					padding: 10px 27px;
					display: block;
				}
			.b-4 .b-block-1 .b-tabs li.ui-tabs-active,.b-4 .b-block-1 .b-tabs li.ui-state-hover{
				cursor: default;
				background-color: #333;
			}
		.b-4 .b-block-1 .b-tab{
			background: none;
			border:none;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			position: relative;	
			display: inline-block;		
		}

		.b-4 .b-block-1 #video-tab.b-tab {
			background-image: url('../i/mac.png');
			width: 532px;
			height: 421px;
			margin-bottom: 20px;
		}
			.b-4 .b-block-1 #video-tab.b-tab .iframe {
				width: 500px;
				position: absolute;
				top: 15px;
				left: 17px;
				height: 277px;
			}
			.b-4 .b-block-1 #video-tab.b-tab p{
				font-size: 24px;
				text-align: left;
				margin: 40px 50px;
				color: #FFF;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt{
				display: block;
				position: absolute;
				background-position: 0% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/play.png');
				width: 73px;
				height: 73px;
				left: 50%;
				margin-left: -37px;
				top: 120px;
				z-index: 100;
			}
			.b-4 .b-block-1 #video-tab.b-tab a.b-play-butt:hover{
				background-position: -73px 50%;
			}
		.b-4 .b-block-1 #audio-tab.b-tab {
			background-image: url('../i/headphones.png');
			width: 300px;
			height: 441px;
		}
		.b-4 .b-block-1 #audio-tab.b-tab audio {
/*			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/player.png');*/
			position: absolute;
			width: 532px;
			/*height: 40px;*/
			top: 160px;
			left: 50%;
			margin-left: -266px;
		}
		.b-4 .b-block-1 #text-tab.b-tab {
			width: 690px;
			text-align: left;
			padding: 0;
			margin-top: 80px;
		}
			.b-4 .b-block-1 #text-tab.b-tab .tab-text {
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				height: 362px;	
				cursor: pointer;		
			}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.active {
					cursor: default;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text > div {
					padding: 40px 30px;
					box-sizing: border-box;	
					height: inherit;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover > div,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active > div  {
					background-color: rgba(0,0,0,0.4); 
				}
			.b-4 .b-block-1 #text-tab.b-tab #text-1 {
				background-image: url('../i/text-1.jpg');
			}
			.b-4 .b-block-1 #text-tab.b-tab #text-2 {
				background-image: url('../i/text-2.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-3 {
				background-image: url('../i/text-3.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-4 {
				background-image: url('../i/text-4.jpg');
			} 
			.b-4 .b-block-1 #text-tab.b-tab #text-5 {
				background-image: url('../i/text-1.jpg');
			} 
				.b-4 .b-block-1 #text-tab.b-tab .tab-text h3 {
					font-size: 32px;
					line-height: 1.2;
					margin-bottom: 25px;
					display: none;
					text-align: center;
					margin-top: 60px;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text p {
					font-size: 12px;
					display: none !important;
					font-style: italic;
				}
				.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text:hover p,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active h3,.b-4 .b-block-1 #text-tab.b-tab .tab-text.active p {
					display: block;
				}
		.b-4 .b-block-1 .full-text {
			margin-top: 80px;
			display: none;
		}
		.b-4 .b-block-1 .full-text .text-back{
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.b-4 .b-block-1 .full-text .text-left {
			text-align: left;
		}
		.b-4 .b-block-1 .full-text .text-right {
			text-align: right;
		}
			.b-4 .b-block-1 .full-text .text-back > div {
				background-color: rgba(0,0,0,0.4);
			}
				.b-4 .b-block-1 .full-text .text-block {
					padding: 45px 40px 60px;
					background-color: #fff;
				}
				.b-4 .b-block-1 .full-text .text-block h3{
					font-size: 32px;
					color: #333333;
					line-height: 1.2;
					margin-bottom: 25px;
					font-weight: bold;
					width: 100%;
				}
				.b-4 .b-block-1 .full-text .text-block  h3.big {
					font-size: 38px;
					width: 100%;
				}
				.b-4 .b-block-1 .full-text .text-block  p{
					font-size: 28px;
					font-style: italic;
					color: #333333;
					line-height: 1.714;
					width: 100%;
				}
				.b-4 .b-block-1 .full-text .text-back > div h3,.b-4 .b-block-1 .full-text .text-back > div p {
					color: #fff;
				}
			.b-4 .b-block-1 .full-text .text-back > div:hover {
				background-color: rgba(255,255,255,0.6);
			}
				.b-4 .b-block-1 .full-text .text-back > div:hover h3,.b-4 .b-block-1 .full-text .text-back > div:hover p {
					color: #333333;
				}
			.b-4 .b-block-1 .full-text .text-footer {
				padding: 40px 45px 20px;
				background-position: 50% 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('../i/text-footer.jpg');
			}
				.b-4 .b-block-1 .full-text .text-footer h3{
					color: #fff;
				}
				.b-4 .b-block-1 .full-text .text-footer p {
					color: #cccccc;
					margin-bottom: 115px;
				}
				.b-4 .b-block-1 .full-text .text-footer ul {
					margin-top: 70px;
					width: 100%;
				}
					.b-4 .b-block-1 .full-text .text-footer ul li {
						font-size: 28px;
						position: relative;
						color: #cccccc;
						float: none !important;
						text-align: center;
						margin-bottom: 110px;
					}

					.b-4 .b-block-1 .full-text .text-footer ul li.phone {
						font-size: 32px;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:before {
							position: absolute;
							font-size: 0;
							content: "";
							background-position: 50%;
							background-repeat: no-repeat;
							left: 50%;
							top: -80px;
						}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1) {
						float: none;
						margin-right: 0;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2) {
						float: none;
					}
					.b-4 .b-block-1 .full-text .text-footer ul li:last-child {
						margin-right: 0;
						float: right;
					}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(1):before {
							width: 56px;
							height: 60px;
							margin-left: -28px;
							background-size: 56px 60px;
							background-image: url('../i/text-mobile.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:nth-child(2):before {
							width: 61px;
							height: 61px;
							margin-left: -30px;
							background-size: 58px;
							background-image: url('../i/text-mail.png');
						}
						.b-4 .b-block-1 .full-text .text-footer ul li:last-child:before {
							width: 44px;
							height: 66px;
							margin-left: -22px;
							background-size: 44px 66px;
							background-image: url('../i/text-map.png');
						}
					.b-4 .b-block-1 .full-text .text-footer ul li:last-child {
						margin-bottom: 30px;
					}

	.b-4 .b-block-2{
		background-color: #FFF;
	}
		.b-4 .b-block-2 .b-video-list{
			padding: 0;
		}

			.b-4 .b-block-2 .b-video-list .slide{
				cursor: pointer;
			}
				.b-4 .b-block-2 .b-video-list .slide > div {
					border-left: 1px solid #1d1e23;
					text-align: left;
					margin: 30px 0;

				}
				.b-4 .b-block-2 .b-video-list .slide span{
					font-size: 25px;
					position: relative;
					display: block;
					cursor: pointer;
					width: 245px;
					padding-left: 20px;
				}
				.b-4 .b-block-2 .b-video-list .slide span:hover,.b-4 .b-block-2 .b-video-list .slide.active span,.b-4 .b-block-2 .b-video-list .slide.hover span{
					color: #ff0000;
				}
				.b-4 .b-block-2 .b-video-list .slide.active span {
					cursor:	default;
				}
					.b-4 .b-block-2 .b-video-list .slide span:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 50px;
						height: 50px;
						right: -55px;
						top: 24px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 50px;
						background-image: url('../i/play-red.png');
						opacity: 0.000001;
					}
					.b-4 .b-block-2 .b-video-list .slide:hover span:after,.b-4 .b-block-2 .b-video-list .slide.active span:after,.b-4 .b-block-2 .b-video-list .slide.hover span:after{
						opacity: 1;
					}
			.b-4 .b-block-2 .b-video-list .slick-arrow {
				position: absolute;
				width: 18px;
				height: 34px;
				background-image: url('../i/arrows.png');
				background-repeat: no-repeat;
				background-size: 36px 34px;
				top: 38px;
				cursor: pointer;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-disabled {
				display: none !important;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-prev {
				background-position: 0% 50%;
				left: 0;
			}
			.b-4 .b-block-2 .b-video-list .slick-arrow.slick-next {
				background-position: -18px 50%;
				right: 0;
			}
.b-5{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-5-mobile.jpg');
	padding-bottom: 130px;
}
	.b-5 .b-block{

	}
		.b-5 h2.b-title{
			color: #FFF;
			padding-top: 80px;
		}
		.b-5 .b-service-list{
			display: block;
			margin-top: 60px;
		}
			.b-5 .b-service-list li{
				float: none;
				margin-right: 0;
				width: 100%;
				color: #FFF;
				margin-bottom: 60px;
			}
			.b-5 .b-service-list li:last-child{
				margin-right: 0px;
				width: 100%;
			}
				.b-5 .b-service-list li > div {
					opacity: 1;
					cursor: pointer;
				}
				.b-5 .b-service-list li.active >div {
					cursor: default;
				}
				.b-5 .b-service-list li .img{
					background-repeat: no-repeat;
					height: 258px;
					margin: 0 auto 30px;
				}
				
				.b-5 .b-service-list li:hover >div,.b-5 .b-service-list li.active > div {
					opacity: 1;
				}

				.b-5 .b-service-list li:nth-child(1) .img {
					background-image: url('../i/b-5/1.png');
					background-position: -255px 50%;
					background-size: 508px 254px;
					width: 254px;
				}
				.b-5 .b-service-list li:nth-child(2) .img {
					background-image: url('../i/b-5/2.png');
					background-position: -222px 50%;
					width: 221px;
					background-size: 443px 258px;
				}
				.b-5 .b-service-list li:nth-child(3) .img {
					background-image: url('../i/b-5/3.png');
					background-position: -260px 50%;
					background-size: 520px 258px;
					width: 258px;
				}
				.b-5 .b-service-list li:not(.active):hover .img{
					background-position: 0% 50%;
				}

				.b-5 .b-service-list li h3{
					font-size: 38px;
					font-weight: bold;
					color: #fff;
					margin-bottom: 40px;
				}
				.b-5 .b-service-list li:not(.active):hover h3 {
					color: #F00;
				}
				.b-5 .b-service-list li p{
					text-align: left;
					font-style: italic;
					color: #cccccc;
					font-size: 26px;
					padding: 0 30px;
					/*margin-left: 5px;*/
				}

		.b-5 .service-cont {
			min-height: 365px;
			display: none;
			margin-top: 50px;
		}
		.b-5 .service {
			
			display: none;
		}
			.b-5 .service > div {
				padding: 35px;
				margin-bottom: 5px;
				width: 880px;
				display: inline-block;
				box-sizing: border-box;
				text-align: left;
				background-color: rgba(255,255,255,0.1);
			}
				.b-5 .service > div h4 {
					float: left;
					width: 155px;
					text-transform: uppercase;
					color: red;
					margin-right: 55px;
				}
				.b-5 .service > div p {
					float: left;
					width: 380px;
					color: #fff;
					font-size: 12px;
				}
				.b-5 .service > div a {
					text-align: center;
					float: right;
					font-size: 14px;
					padding: 12px 0;
					width: 180px;
					box-shadow: 0px 1px 6px 0px rgba(1, 1, 1, 0.32);
				}
.b-6{
	padding-bottom: 85px;
}
	.b-6 .b-block{

	}
		.b-6 h2.b-title{
			color: #666666;
			padding-bottom: 80px;
		}
		.b-6 .b-partners{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../i/partners.jpg');
			width: 690px;
			height: 190px;
			display: inline-block;
		}
.b-7{
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('../i/back-7.jpg');
	padding-bottom: 65px;
	padding-top: 15px;
}
	.b-7 .b-block{

	}
		.b-7 p{
			font-size: 28px;
			/* color: #FFF; */
			width: 100%;
			display: inline-block;
			text-align: left;
			padding-top: 40px;
			line-height: 44px;
			padding-bottom: 25px;
		}
		a.b-red-butt{
			background-color: #F00;
			border-radius: 3px;
			padding: 25px 50px;
			font-size: 32px;
			color: #FFF;
			display: inline-block;
		}
		a.b-red-butt:hover{
			background-color: #D00;
		}
		.b-7 a.b-red-butt{

		}
.b-8{
	
}
	.b-8 .b-white-block{
		background-color: #FFF;
	}
		.b-8 .b-white-block h2.b-title{
			padding-bottom: 20px;
			color: #666666;
			padding-top: 55px;
		}
		.b-8 .b-white-block h3{
			font-size: 30px;
			color: #666666;
			padding-bottom: 40px;
		}
	.b-8 .b-white-block .nav {
		margin-top: 20px;
		margin-bottom: 20px;
		display: none !important;
	}
		.b-8 .b-white-block .nav li {
			position: relative;
			font-size: 12px;
			color: #cccccc;
			float: left;
			margin-right: 25px;
		}
		.b-8 .b-white-block .nav li:nth-child(n+2):before {
			position: absolute;
			content: "";
			font-size: 0;
			width: 4px;
			height: 6px;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/nav.png');
			top: 5px;
    		left: -14px;
		}
		.b-8 .b-white-block .nav li:last-child {
			margin-right: 0;
		}
		.b-8 .b-white-block .nav li.active {
			color: #000;
		}
		.b-8 .b-white-block .nav li.active:nth-child(n+2):before {
			background-position: -4px 50%;
		}
	.b-8 .b-back{
		background-position: 50% 50%;
		background-size: cover;
		
		padding-bottom: 80px;
		display: none;
	}
	.b-8 #invest-1.b-back {
		background-image: url('../i/b-8/1-back-mobile.jpg');
		display: block;
	}
	.b-8 #invest-2.b-back {
		background-image: url('../i/b-8/2-back-mobile.jpg');
	}
	.b-8 #invest-3.b-back {
		background-image: url('../i/b-8/3-back-mobile.jpg');
	}
	.b-8 #invest-4.b-back {
		background-image: url('../i/b-8/4-back-mobile.jpg');
	}
	.b-8 #invest-5.b-back {
		background-image: url('../i/b-8/5-back-mobile.jpg');
	}
	.b-8 #invest-6.b-back {
		background-image: url('../i/b-8/6-back-mobile.jpg');
	}
	.b-8 #invest-final.b-back .final-back{
		background-position: 50% 0%;
		background-size: cover;
		background-image: url('../i/b-8/final-back-mobile.jpg');
		
	}

		.b-8 .b-back .b-icon{
			padding-top: 65px;
			margin-bottom: 40px;
		}
			.b-8 .b-back .b-icon p{
				font-size: 26px;
				color: #F00;
				text-transform: uppercase;
				margin-top: 15px;
			}
			.b-8 .b-back .b-icon .sprite {
    			background-image: url('../i/spritesheet.png');
    			background-repeat: no-repeat;
    			background-size: 741px 124px;
    			display: inline-block;
    	}

			.b-8 .b-back .b-icon .sprite.sprite-icon-1 {
			   	width: 123px;
			    height: 124px;
			    background-position: 0 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-2 {
			    width: 124px;
			    height: 123px;
			    background-position: -123px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-3 {
			    width: 123px;
			    height: 123px;
			    background-position: -247px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-4 {
			    width: 124px;
			    height: 123px;
			    background-position: -370px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-5 {
			    width: 124px;
			    height: 123px;
			    background-position: -494px 0;
			}

			.b-8 .b-back .b-icon .sprite.sprite-icon-6 {
			    width: 123px;
			    height: 123px;
			    background-position: -618px 0;
			}

		.b-8 .b-back h3{
			font-size: 44px;
			color: #000000;
			margin-bottom: 60px;
		}
		.b-8 .b-back .b-checkboxes{
			display: inline-block;
			margin-bottom: 75px;
		}
			.b-8 .b-back .b-checkboxes li{
				float: none;
				margin-right: 0;
				cursor: pointer;
				margin-bottom: 25px;
			}
			.b-8 .b-back .b-checkboxes li:last-child{
				margin-right: 0px;
				
			}
				.b-8 .b-back .b-checkboxes li input{
					display: none;
				}
				.b-8 .b-back .b-checkboxes li label{
					cursor: pointer;
					font-weight: bold;
					font-size: 30px;
					color: #333333;
					padding-left: 55px;
					position: relative;
					display: block;
					text-align: left;
				}
				.b-8 .b-back .b-checkboxes li label span {
					font-size: 26px;
					color: #333333;
					max-width: 100%;
					display: block;
					margin-top: 10px;
					font-weight: 500;
				}
				.b-8 .b-back .b-checkboxes li label:before {
					position: absolute;
					content: "";
					font-size: 0;
					width: 34px;
					height: 34px;
					border: 1px solid rgb(204, 204, 204);
					border-radius: 3px;
					background-color: #fff;
					top: -4px;
					left: 0px;
				}
				.b-8 .b-back .b-checkboxes li label:after {
					position: absolute;
					content: "";
					font-size: 0;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 24px;
					background-image: url('../i/check.png');
					width: 24px;
					height: 24px;
					top: 2px;
					left: 6px;
					display: none;
				}
				.b-8 .b-back .b-checkboxes li input:checked + label:after {
					display: block;
				}
		.b-8 .b-back a.b-red-butt{
			width: 350px;
			box-sizing: border-box;
		}
		.b-8 .b-back .final-back h4{
			font-size: 38px;
			color: #000000;
			font-weight: bold;
			padding-top: 36px;
			padding-bottom: 24px;
		}
		.b-8 .b-back .final-back .b-block .percent {
			font-size: 170px;
			color: #fff;
			margin-left: 0;
			width: 100%;
		}
		.b-8 .b-back .final-back .b-block .right {
			
margin-top: 35px;
			
margin-right: 0;
			
text-align: left;
			
margin-left: 40px;
		}
			.b-8 .b-back .final-back .b-block .right li{
				line-height: 1.75;
				position: relative;
				font-size: 28px;
			}
			.b-8 .b-back .final-back .b-block .right li:before {
				position: absolute;
				font-size: 0;
				content: "";
				background-position: 50%;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: contain;
				top: 14px;
				left: -32px;
				background-image: url('../i/white-check.png');
			}
		.b-8 .b-back .final-back .b-block .stats {

font-size: 0;

margin-top: 37px;

display: inline-block;

margin-bottom: 27px;
}
			.b-8 .b-back .final-back .b-block .stats li {

display: inline-block;

padding-right: 35px;

position: relative;
}
				.b-8 .b-back .final-back .b-block .stats li:last-child {
					padding-right: 11px;
				}
				.b-8 .b-back .final-back .b-block .stats li:after {
					position: absolute;
					font-size: 0;
					content: "";
					height: 4px;
					width: 100%;
					bottom: 71px;
					left: 0;
					background-color: #fff;
				}
			.b-8 .b-back .final-back .b-block .stats li > div{

margin-bottom: 14px;

}
				.b-8 .b-back .final-back .b-block .stats li > div span{

font-size: 26px;

margin-bottom: 10px;

display: block;
}
				.b-8 .b-back .final-back .b-block .stats li > div div{

width: 35px;

height: 75px;

background-color: #fff;

margin: 0 auto;
}
			.b-8 .b-back .final-back .b-block .stats li > h5{

font-size: 26px;

color: #000;

margin-bottom: 30px;
}
		.b-8 .b-back .final-back .b-block .butts {
			display: inline-block;
		}
			.b-8 .b-back .final-back .b-block .butts a {
				
width: 330px;
			}
			.b-8 .b-back .final-back .b-block .butts .b-white-butt {
				background:none;
				border: 2px solid #fff;
				box-sizing: border-box;
				margin-right: 25px;
				padding: 17px 0 18px;
			}
			.b-8 .b-back .final-back .b-block .butts .b-white-butt:hover {
				background-color: #fff;
				color: #333333;
			}
		.b-8 .b-back .solution {

		}
			.b-8 .b-back .solution .b-block{
			
padding: 37px 0 55px;
			}
			.b-8 .b-back .solution .b-block h4{
				font-size: 45px;
				color: rgb(153, 153, 153);
				line-height: 1.2;
				margin-bottom: 64px;
			}
			.b-8 .b-back .solution .b-block ul {
				display: inline-block;
			}
				.b-8 .b-back .solution .b-block ul li {
					float: none;
					position: relative;
					width: 100%;
					padding: 0 40px;
					box-sizing: border-box;
					margin-bottom: 64px;
				}
				.b-8 .b-back .solution .b-block ul li:nth-child(n+2):before {
					position: absolute;
					font-size: 0;
					content: "";
					width: 175px;
					height: 17px;
					left: -95px;
					top: 19px;
					background-position: 50%;
					background-image: url('../i/circles.jpg');
					display: none;
				}
					.b-8 .b-back .solution .b-block ul li div {
						width: 120px;
						height: 120px;
						background-size: contain;
						background-position: 50%;
						margin: 0 auto 22px;
					}
					.b-8 .b-back .solution .b-block ul li h5 {
						
font-size: 32px;
						
font-weight: bold;
						
margin-bottom: 25px;
					}
					.b-8 .b-back .solution .b-block ul li p {
						font-size: 26px;
						color: rgb(102, 102, 102);
						line-height: 1.2;
						padding: 0;
					}
			.b-8 .b-back .solution-back {
				background-size: cover;
				background-image: url('../i/sol-back-mobile.jpg');
				background-repeat: no-repeat;
				background-position: 50% 0%;
			}
			.b-8 .b-back .solution-back .sol-text {

padding-bottom: 74px;

}
			.b-8 .b-back .solution-back .sol-text:nth-child(2n){
				
background-color: rgba(0,0,0,0.45);
			}
			.b-8 .b-back .solution-back .sol-text:nth-child(2n+1){
				
background-color: rgba(0,0,0,0.25);
			}

				.b-8 .b-back .solution-back .sol-text h5 {
					font-size: 45px;
					color: #fff;
					padding-top: 120px;
					margin-bottom: 48px;
					position: relative;
				}
					.b-8 .b-back .solution-back .sol-text h5:before {
						position: absolute;
						font-size: 0;
						content: "";
						background-position: 50%;
						background-image: url('../i/sol-icon-1.png');
						width: 72px;
						height: 72px;
						top: 40px;
						left: 50%;
						margin-left: -36px;
					}
					.b-8 .b-back .solution-back .sol-text:nth-child(2) h5:before {
						background-image: url('../i/sol-icon-2.png');
					}
				.b-8 .b-back .solution-back .sol-text p {
					color: rgb(204,204,204);
					font-style: italic;
					line-height: 1.75;
					width: 100%;100%:0;
					margin: 0;
					font-size: 28px;
				}
			.b-8 .b-back .solution-back .sol-text:hover {
				background: none;
			}
			.b-8 .b-back .solution-back .sol-text:hover p {
				color: #000;
			}
		.b-8 .b-back .solution-back .solution-black {
			background-color: #000;
		}
		.b-8 .b-back .solution-back ul {
			
width: 100%;
			
margin: 0;
			
padding: 20px 0;
		}
			.b-8 .b-back .solution-back ul li {
				font-weight: bold;
				color: #fff;
				position: relative;
				float: none;
				padding: 26px 0px;
				margin-right: 0;
				cursor: pointer;
				font-size: 28px;
			}
			.b-8 .b-back .solution-back ul li:last-child {
				float: none;
				margin-right: 0;
			}
				.b-8 .b-back .solution-back ul li:hover {
					color: #fff;
				}
				.b-8 .b-back .solution-back ul li p {
					display: none;
					position: absolute;
					top: 92px;
					left: 50%;
					margin-left: -120px;
					width: 240px;
					color: #000;
					line-height: 1.2;
					font-size: 12px;
					font-weight: 500;
				}
					.b-8 .b-back .solution-back ul li:hover p {
					display: none;
					}
			.b-8 .b-back .solution-back .sol-butt {
				
padding: 40px 0;
				
background-color: rgba(255,255,255,0.4);
			}
.b-9{
	background-position: 50% 50%;
	background-image: url('../i/gray-back.jpg');
	padding: 60px 0px;
}
	.b-9 .b-block{

	}
		.b-9 h3{
			text-align: center;
			font-size: 50px;
			color: #FFF;
			width: 100%;
			margin-bottom: 40px;
			margin-left: 0;
		}
		.b-9 .right{
			color: #FFF;
			text-align: left;
			/* width: 100%; */
			margin-right: 140px;
		}
			.b-9 .right .b-phone-contact{
				font-size: 32px;
				margin-bottom: 25px;
				position: relative;
			}
				.b-9 .right .b-phone-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 42px;
					height: 45px;
					left: -70px;
					top: -4px;
					background-position: 50% 50%;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('../i/b-9/1.png');
				}
			.b-9 .right .b-email-contact{
				font-size: 28px;
				margin-bottom: 25px;
				position: relative;
			}
				.b-9 .right .b-email-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 44px;
					height: 47px;
					left: -70px;
					top: 14px;
					background-position: 50% 50%;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('../i/b-9/2.png');
				}
			.b-9 .right .b-place-contact{
				font-size: 28px;
				position: relative;
			}
				.b-9 .right .b-place-contact:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 33px;50:33px;
					height: 50px;
					left: -65px;
					top: 12px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('../i/b-9/3.png');
				}
.b-10{

}
	.b-10 .b-map{
		height: 245px;
		width: 100%;
	}
.b-11{
	padding-top: 50px;
}
	.b-11 .b-block{

	}
		.b-11 .b-footer-menu-cont{

}
			.b-11 .b-footer-menu-cont .b-footer-menu{
				margin-left: 0;
				width: 100%;
				margin-bottom: 20px;
			}
				.b-11 .b-footer-menu-cont .b-footer-menu li{
					float: none;
					margin-right: 0;
					margin-bottom: 15px;
				}
					.b-11 .b-footer-menu-cont .b-footer-menu li a{
						color: #333333;
						text-decoration: underline;
						font-size: 28px;
					}
						.b-11 .b-footer-menu-cont .b-footer-menu li a:hover{
							text-decoration: none;
						}
			.b-11 .b-footer-menu-cont .right{
				margin-right: 0;
				text-align: center;
				width: 100%;
			}
				.b-11 .b-footer-menu-cont .right a{

}
					.b-11 .b-footer-menu-cont .right a:hover{
						opacity: 0.8;
					}
					.b-11 .b-footer-menu-cont .right a img{

width: 40px;

}
		.b-11 .b-footer-cont{
			margin-top: 50px;
			padding-bottom: 25px;
			text-align: center;
		}
			.b-11 .b-footer-cont .b-book-cont{
				margin-left: 0;
				padding-left: 40px;
				font-size: 26px;
				text-decoration: underline;
				text-align: center;
				position: relative;
				margin-bottom: 20px;
				display: inline-block;
				float: none !important;
				width: 215px;
			}
				.b-11 .b-footer-cont .b-book-cont:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 27px;
					height: 27px;
					left: 0px;
					top: 7px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/book.png');
				}
			.b-11 .b-footer-cont .b-copy-cont{
				font-size: 26px;
				margin-left: 0;
				text-align: center;
			}
			.b-11 .b-footer-cont .b-dev-cont{
				font-size: 26px;
				margin-top: 15px;
				margin-right: 0;
				text-align: center;
				width: 100%;
			}
				.b-11 .b-footer-cont .b-dev-cont a{
					font-size: 26px;
					text-decoration: underline;
				}
					.b-11 .b-footer-cont .b-dev-cont a:hover{
						text-decoration: none;
					}
.b-popup{
	width: 690px;
}
	.b-popup .b-head{
		color: #FFF;
		text-align: left;
		border-radius: 3px 3px 0px 0px;
		padding: 28px 50px;
		background-color: #555555;
		font-size: 28px;
	}
	.b-popup .b-popup-back{
		background-position: 50% 50%;
		background-size: cover;
		background-image: url('../i/back-popup.jpg');
		padding: 65px 50px 28px;
	}
		.b-popup .b-data-cont{
			margin-bottom: 30px;	
		}
			.b-popup .b-data-cont h3{
				font-size: 38px;
				color: #F00;
			}
			.b-popup .b-data-cont input{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 26px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 7px 10px;
				width: 170px;
			}
		.b-popup .b-popup-form{
			width: 100%;
		}
			.b-popup .b-popup-form input[type="text"]{
				border: 1px solid #e1e1e1;
				border-radius: 4px / 5px;
				font-size: 26px;
				color: #4b4b4b;
				background-color: #fff;
				padding: 7px 10px;
				width: 270px;
				margin-bottom: 15px;
			}
			.b-popup .b-popup-form input[type="text"].b-input-name{
				width: 100%;
				box-sizing: border-box;
			}
			.b-popup .b-popup-form a.b-red-butt{
				margin-top: 30px;
				cursor: pointer;
				margin-bottom: 35px;
			}
.fancybox-close{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/close.png');
	width: 20px;
	height: 20px;
	right: 30px;
	top: 26px;
}
.b-thanks {
	width: 690px;
	text-align: left;
	border-radius: 3px;
}
	.b-thanks h3 {
		padding: 27px 37px;
		color: #fff;
		background: red;
		font-size: 28px;
		border-radius: 3px;
	}
	.b-thanks h4 {
		padding: 50px 110px;
		font-size: 38px;
		color: rgb(58, 58, 58);
		position: relative;
	}
		.b-thanks h4:before {
			position: absolute;
			content: "";
			font-size: 0;
			width: 53px;
			height: 54px;
			top: 60px;
			left: 40px;
			background-position: 50%;
			background-repeat: no-repeat;
			background-image: url("../i/thanks.png");
		}			
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}